[2017-12-12 15:42] futtta opened #1 "doubles"
-> 80 requests
-> 70 unique requests = 10 doubles
-> doubles are requested shortly after original

So why is this happening & how can we avoid this?

[2017-12-12 15:43] futtta commented on #1
logfile (generated manually from ccss.com dashboard):
[ccss-dot-com-report.log](https://github.com/futtta/ao_critcss_aas/files/1552197/ccss-dot-com-report.log)

[2017-12-12 15:46] futtta opened #2 "don't fetch ccss for is_404"
* keep on detecting is_404
* but exclude those requests from CCSS creation after all either by not adding them to the queue or by setting them to "done" at queue parsing

[2017-12-12 15:48] futtta opened #3 "could we use the request to validate API key to immediately set rule for is_front_page?"
could we use the request to validate API key to immediately set rule for is_front_page?

[2017-12-12 16:02] denydias opened #4 "Remove DONE jobs"
When queue control starts, it takes care of NEW and PENDING jobs. DONE jobs are left in the queue, which could grow quite fast, making queue UI unresponsive.

Use the queue control to also deal with DONE jobs and remove them.

[2017-12-12 16:04] denydias opened #5 "Remove old critical CSS files from update rules"
When an AUTO rule is updated by a job, it creates a new ciritical CSS file for that rule. But the old CSS file is left there and have no use anymore.

Get rid of it.

[2017-12-12 16:08] denydias opened #6 "Improve toolpip error messages"
For ERROR and UNKNOWN jobs, the status badge tooltip try to display an error message that caused the condition. The message is:

[code]

Try to handle this message better to provide more meaningful information about the condition cause.

[2017-12-12 16:11] denydias opened #7 "Better column wrap in queue UI"
In the queue UI table, let text in columns wrap.

[2017-12-12 16:35] futtta opened #8 "to be checked: order in which conditional tags/ page templates/ custom page types are checked"
we have to make sure to match the most specific conditional and I'm not sure what order is implemented now, but we'd need this order

1. highest priority: path
2. custom page type
3. page templates
4. non-default conditional tags (e.g. woocommerce & edd & buddypress ...)
5. default conditional tags (is_page, is_single, ...)

[2017-12-12 16:59] denydias commented on #3
Yes, we can. But I really don't want to do that and advise against it.

API key verification is a recurrent process. It runs every day, deals with transients and such. Although it could be used to fetch a critical CSS for the front page, it would add so much value to the user as the first request to the front page is also going to create an AUTO rule for that page. It'll only add a lot of complexi

[2017-12-12 17:17] denydias commented on #8
Those priorities came from the _old|new_ plugins and very little was changed since. So, to confirm the implemented priorities (links points to the lines where it's implemented now):

1. Longer paths over shorter ones ([here](/futtta/ao_critcss_aas/blob/master/inc/core.php#L16) and [here](https://github.com/futtta/ao_critcss_aas/blob/master/inc/core.php#L49));
2. [CPT, templates then types](https:/

[2017-12-12 17:25] denydias commented on #2
I din't quite understand that... should add `is_404` [here](/futtta/ao_critcss_aas/blob/master/inc/core_enqueue.php#L11)? If so, `is_404` will be detected, but a job will never be created for them.

Is that what you mean?

[2017-12-12 17:35] futtta commented on #3
Hmm ... what if we would update the transient with every successful request, removing the need to check the API key if a request was done recently?

My goal is to remove each and every request to ccss.com we can avoid (even if only 1/day) :-)

[2017-12-12 17:36] futtta commented on #2
yes, that seems like a good & simple solution.

[2017-12-12 17:38] futtta commented on #8
OK, in that case we're OK except maybe for the distinction between "core" and non-core types (where non-core should take precedence. this is "just" a question of the order in the array that holds all conditionals, no?

[2017-12-12 17:59] denydias commented on #3
You're trying that in the wrong places. Key verification is an hermetic process that has it's own role for existing. Besides, to update a transient on EACH and EVERY successful request will indeed take the that request off ccss.com, but at the expense of a useless overhead in the user RDBMS to update that transient on EACH and EVERY request.

I'm pretty sure ccss.com could handle just fine that SI

[2017-12-12 18:08] denydias commented on #2
Right... no further questions.

[2017-12-12 18:12] denydias commented on #8
This doesn't look like a question. :P

But ok, I've got it. The stated above is the rule in place. If you want to change that after the testing stage, we can go for it.

Closing this for now.

[2017-12-12 18:46] #2 closed, assigned to nobody

[2017-12-12 18:46] #4 closed, assigned to nobody

[2017-12-12 18:46] #5 closed, assigned to nobody

[2017-12-12 18:46] #7 closed, assigned to nobody

[2017-12-12 19:08] denydias commented on #1
After fixes on #4, I could check for this more accurately.

[2017-12-12 19:08] denydias commented on #6
After fixes on #4, I could check for this more accurately.

[2017-12-12 19:45] futtta commented on #8
Would like to keep this "open" but on "backlog", meaning we have to look into it "later". Closed is "we don't ever need to worry about this again" in my book ;-)

[2017-12-12 19:55] futtta commented on #3
I understand your point of view from a technical angle, but if we know we do successful posts/ gets to ccss.com, then an API check in reality is kind of useless, no? So if not by updating the transient, I'm pretty sure we must have some info somewhere in our queue or rules or on the FS (date/timestamp of most recently updated CCSS-file) that confirms succesful transaction in the last X hours, no?

[2017-12-12 19:55] denydias commented on #8
Sure thing! Sorry.

[2017-12-12 19:57] futtta commented on #8
no problem :)

On Tue, Dec 12, 2017 at 8:55 PM, Deny Dias <notifications@github.com> wrote:

[2017-12-12 20:02] futtta opened #9 "new feature: screenshot compare for R jobs"
to be specced

[2017-12-12 20:03] futtta opened #10 "feature to automatically amend generated CCSS (and keep it automated)"
to be specced (internal vs using ccss.com api)

[2017-12-12 20:05] denydias commented on #1
So I can check this and #6, can I change the queue schedule to 10 minutes as we have agreed before by email and also clean up the whole settings in you site? Debug is too noisy with 5s recurrence.

[2017-12-12 20:05] futtta opened #11 "cron frequency"
cron is now very high frequency, what should be the "normal" freq?

should/ could we switch frequency based on "debug" being active or not (high freq. when debug, lower when not in debug?)

[2017-12-12 20:06] futtta opened #12 "commercial blah to convince people to sign up/ get API key"
we'll need to entice people to get an API key. Why do they need it? -> room for commercial blah-blah

[2017-12-12 20:08] denydias commented on #3
Ohhhhhh! Why didn't you say that before! This is far from being a tech issue. Like so, it has nothing to do with what I think that is right or wrong, pal!

Consider it done! I don't know how just yet, but it will be done. ;)

[2017-12-12 20:08] futtta commented on #1
sure! feel free to do so AND to deploy the new version on blog.futtta.be. we will need to write down the timestamp as to allow us (and Jonas) to follow up on number of requests.

[2017-12-12 20:20] denydias commented on #11
Higher frequencies for debug is not possible. Scheduled events are registered once in plugin activation and can't change after that based on arbitrary conditions.

[2017-12-12 20:30] futtta commented on #11
ok, closing :)

[2017-12-12 22:30] denydias commented on #11
Reopening this for the fix.

[2017-12-12 22:47] denydias opened #13 "Do not autoload options"
Avoid the overhead of loading each page load by not autoloading any of the plugin options as they are already loaded when required.

[2017-12-13 01:32] #3 closed, assigned to nobody

[2017-12-13 01:32] #11 closed, assigned to nobody

[2017-12-13 01:32] #13 closed, assigned to nobody

[2017-12-13 01:54] denydias commented on #3
Just so you know, it is implemented in the commit above. I did even better than _'use the request to validate API key to immediately set rule for is_front_page'_.

Key validation occurs in the first job ran by the queue, it doesn't matter what page it refers to. So, when a user enters a key, the key status becomes `Waiting Validation` and the plugin starts operating by collecting jobs.

When a fro

[2017-12-13 16:06] futtta commented on #1
current status from ccss.com after new version was installed:
[code]
so less doubles (5), but _more_ requests nonetheless (and despite not doing `is_404`, weird no?

[ccss-dot-com-report_13-12-2017.log](https://github.com/futtta/ao_critcss_aas/files/1556163/ccss-dot-com-report_13-12-2017.log)

[2017-12-13 18:29] denydias commented on #1
Yeah, yeah... this quest is still in place. I am dealing with proper logging first on #6 because:

[2017-12-13 19:05] futtta opened #14 "move "advanced" and "api key" to bottom of screen"
once the API key is set, it should not be that prominent any more, so could you change order to;

1. rules
2. queue
3. advanced
4. api key

[2017-12-13 19:15] denydias commented on #14
Advanced panel is ok to move... Key is not. The rendering of key panel is triggered by the key status verification, which in turns provide information to render it accordingly. Those parameters doesn't exist in the settings panel context.

Should I move only advanced to bottom? Key panel should remain where it's now.

**EDIT** - The possible order is:

1. api key
2. rules
3. queue
4. advanced

[2017-12-13 19:28] futtta commented on #14
yes, that would be a start I guess :)

On Wed, Dec 13, 2017 at 8:15 PM, Deny Dias <notifications@github.com> wrote:

[2017-12-13 20:28] futtta commented on #14
could you also give each UL (api key, adv. settings, rule & queue) a
specific ID so we can target them separately later if we wish to do so? :)

On Wed, Dec 13, 2017 at 8:34 PM, Deny Dias <notifications@github.com> wrote:

[2017-12-13 21:09] futtta commented on #14
ugly, but let's use JS to reposition the API key field for now:
`
jQuery("form#settings ul:nth-of-type(1)").insertAfter('form#settings ul:nth-of-type(4)');
`

 to be added in output in [ao_critcss_aas/inc/admin_settings_queue.js.php](https://github.com/futtta/ao_critcss_aas/blob/master/inc/admin_settings_queue.js.php#L6-L25) as last command in the  `jQuery(document).ready(function() {` block

If y

[2017-12-14 06:49] futtta commented on #1
72 requests after approx. 12h.

[ccss-dot-com-report_14-12-2017.log](https://github.com/futtta/ao_critcss_aas/files/1558164/ccss-dot-com-report_14-12-2017.log)

[2017-12-14 12:37] futtta commented on #1
updated log-file, 107 requests.

[ccss-dot-com-report_14-12-2017.log](https://github.com/futtta/ao_critcss_aas/files/1559172/ccss-dot-com-report_14-12-2017.log)

[2017-12-14 13:00] denydias commented on #1
6 doubles...

[2017-12-14 13:18] denydias commented on #1
There are real cases where a request for a single page could be fired more than once. They are:

1. **A failed POST** request to the generate endpoint. In that case, there will be no rule for the next hit on that page and a new request SHOULD be made. That failure could be caused by many reasons that are out of our control, such as timeouts on our side, network problems, exceptions at ccss.com etc

[2017-12-14 13:33] denydias commented on #14
Oh, no! This is not the kind of thing to be taken care by the user browser.

I'm learning how to deal with you, @futtta. Once you have an idea, it's *very* difficult to change your mind on the other direction, even if other paths provides better solutions... :P

The collapsible panels was implemented to take the extra information away from the users. Once the plugin hit the wild, it will be operat

[2017-12-14 14:29] #14 closed, assigned to nobody

[2017-12-14 14:52] futtta commented on #1
closing, but based on current figures we'll probably need other ways to limit request amounts. I'll open a "backlog" issue for that soon-ish ;-)

[2017-12-14 14:52] #1 closed, assigned to nobody

[2017-12-14 14:54] futtta commented on #14
thanks @denydias . I can be stubborn, I admit ;-)

[2017-12-14 15:11] denydias commented on #1
Indeed!

My guess? We'll need to revisit the whole thing, from the queue object to the queue control, so we can say goodbye to to what came from old|new plugins logic. A refactoring is not enough. We need to rethink the internals more deeply if we want to reduce that request count.

When you create that backlog issue, first create a one for a new panel: counters dashboard. This dashboard might hav

[2018-01-08 19:51] futtta opened #15 "user story: as a admin I can define css which is automatically added to each generated CCSS"
acceptance criteria:
1. admin sees a button "add to all critical css" next to "add rule" and "add default css"
1. when admin clicks that button, (s)he sees a popup in which (s)he can enter css (1 field)
1. upon submittal that string is checked to make sure it resembles CSS and stored (on FS? as option?)
1. when a visitor requests a page for which a rules applies, the CCSS that is injected also has

[2018-01-09 14:46] denydias commented on #15
Some clarification needed...

* Can this one use the same validation function already implemented for the manual rules?
* Should the write to FS function save a minified CSS (as critical css is also minified)? If yes, when the user edit an existing admin CSS, the content will be minified. If no, should we alert the user to enter a minified CSS?

* From what I understand, there should be only one '

[2018-01-09 15:19] futtta commented on #15
3a: yes, same validation function
3b: no, save as is for now and indeed ask user for minified CSS
4a: correct, the same CSS willb e added to the CCSS of any page with a
matching rule
4b: after the CCSS

On Tue, Jan 9, 2018 at 3:46 PM, Deny Dias <notifications@github.com> wrote:

[2018-01-09 15:26] denydias commented on #15
Nice! Getting into it asap.

[2018-01-19 15:11] futtta commented on #10
duplicate of https://github.com/futtta/ao_critcss_aas/issues/15

[2018-01-19 15:11] #10 closed, assigned to nobody

[2018-01-24 19:47] futtta opened #16 "roll back license check logic"
As Jonas doesn't seem to care about the number of request that much any more and as the UX of not having feedback on a lic. key entered is ... not great, I'd like you to revert to the previous license-check-logic. If possible in this milestone, if not we'll move it to the next one.

[2018-01-27 04:16] denydias commented on #16
I was looking at this one... License check logic is in place and is implemented in the following code:

https://github.com/futtta/ao_critcss_aas/blob/master/inc/core.php#L233
https://github.com/futtta/ao_critcss_aas/blob/master/inc/admin_settings.php#L75
https://github.com/futtta/ao_critcss_aas/blob/master/inc/admin_settings_key.php

As such, there is also a UI and the applicable UX for license va

[2018-01-27 04:42] denydias commented on #16
Oh! There was another big change: a while ago, the key validation was performed as soon as the user enter the key and hit save and then on every 24h. Now it's performed as per the first job run and then on every new job (not by a new request, but as a consequence of the '/generate' API response).

Please see:

- **Key is valid:** https://github.com/futtta/ao_critcss_aas/blob/master/inc/cron.php#L4

[2018-01-27 06:52] futtta commented on #16
I was indeed talking about the "key check"-logic, not the placement of the tile. I like the current solution actually, except for the fact that the very first time the user doesn't know for sure the key is OK, (s)he just has to wait and see. It's for that reason that I was thinking of going back to the previous version.

Now off course if there would be a way to check the key immediately upon subm

[2018-01-27 13:43] denydias commented on #16
Then let '*the best of both worlds*' be! :smirk:

[2018-01-27 13:52] denydias commented on #16
Oh, a **remark:** the request for the first key check on user input WOULD NOT be used for a job or rule. It'll be solely for key validation purpose and will be completely apart from the queue stuff. Right?

[2018-01-27 13:54] futtta commented on #16
If possible and not more complex it could fetch the ccss for the home page,
but that is not a deal breaker :)

On Jan 27, 2018 14:52, "Deny Dias" <notifications@github.com> wrote:

[2018-01-27 14:04] denydias commented on #16
I'm afraid not. :disappointed:

To successfully fetch a CCSS, two requests are required: `generate` and `results`. They MUST run async by cron, which in turn relies on job status in queue. If we try to mock this on key validation, then we'll end up with the same behavior we have right now, rendering this issue useless.

The new, initial key validation on user input shall not depend on any queue re

[2018-01-27 14:05] futtta commented on #16
Makes sense, as always ;-)

On Jan 27, 2018 15:04, "Deny Dias" <notifications@github.com> wrote:

[2018-01-27 14:06] denydias commented on #16
So, the above remark is in place from now on. :sunglasses:

[2018-01-27 14:28] futtta commented on #16
You're starting to sound like my wife there mate ;-)

On Jan 27, 2018 15:06, "Deny Dias" <notifications@github.com> wrote:

[2018-01-27 14:44] denydias commented on #16
LOL! Developers MUST sound like wifes! :stuck_out_tongue_closed_eyes:

[2018-01-28 21:45] denydias commented on #8
The frontend order is set by [this function](https://github.com/futtta/ao_critcss_aas/blob/master/inc/core.php#L42). The priorities are:

1. Pages by paths:

    1. If a page path match a rule whose target is a path, return with the CCSS in that rule;
    2. Else, do not return nothing and continue processing.

2. Pages by type:

    1. If a page type match a rule whose target type begin with `cus

[2018-01-29 01:16] denydias commented on #15
Feature implemented.

Some considerations:

1. The add/edit default critical CSS DOES NOT consider CSS validation as it's stored on DB, not in FS (CSS validation happens only to FS);
2. Following the above logic, and taking into account that this new feature follows the same UI and UX principles, I've implemented it persisting the content to DB as well, which implies no CSS validation of any kind;

[2018-01-29 03:20] denydias commented on #6
I've tried to receive some `JOB_UNKNOWN` messages in the development environment without success.

I can see that `blog.futtta.be` have some `U` jobs. Can I enable debug mode there so I can check in the logs what is happening there?

[2018-01-29 04:21] denydias commented on #6
I think I've got it: criticalcss.com timeouts!

Please pull commit c576e9e533e9ed7330518ade7e388d0399671cea in your server and test it (my SSH access is replying with permission denied with my key.)

[2018-01-29 06:42] futtta commented on #8
no, all is fine, closing

[2018-01-29 06:42] #8 closed, assigned to nobody

[2018-01-29 06:51] futtta commented on #6
git pulled, feel free to enable debug mode

weird, I didn't change anything?

[2018-01-29 06:55] futtta commented on #15
that is acceptable :)

[2018-01-29 18:13] denydias commented on #6
Nevermind... It was something temporary. I'm in now.

[2018-01-30 07:05] denydias commented on #16
Ready for testing.

[2018-02-09 06:18] futtta commented on #16
tested OK, but can you add a notice to confirm success if API key was validated "manually".

Copy:

[2018-02-09 06:22] futtta commented on #6
![image](https://user-images.githubusercontent.com/181297/36014408-ec6bd42c-0d69-11e8-8439-dfe1256ef75a.png)

seems OK, cfr. screenshot for "E" job. any idea why we would have the "NO CSS" error though?

[2018-02-09 06:30] futtta commented on #15
tested OK, not convinced from UX point of view though; I think for an average user the difference between the 2nd & 3rd button is almost impossible to grasp. ideas?

![image](https://user-images.githubusercontent.com/181297/36014476-422c2fc4-0d6a-11e8-95b3-9d7ea065c35f.png)

[2018-02-09 06:38] denydias commented on #6
This is a mystery. For some reason, a job successfully accepted by the generate API endpoint at criticalcss.com expires (or vanish, dunno) before the result endpoint request. Maybe Jonas can provide more information about the reasons this is happening.

From our standpoint, we now have the proper and known (documented or observed by trial and error) exceptions treated as E. All the unknown excepti

[2018-02-09 06:46] denydias commented on #16
Is this really needed? When an activation happens, the user has two very clear visual clues:

- The API key label becomes a green valid (OK), or a red invalid (ERROR) or a yellow no key (WARNING).
- The other panels appears (OK) or disappears (ERROR/WARNING).

IMHO, to add another standard notice just make the whole thing more cluttered as it repeats an already provided information in UI.

Also, t

[2018-02-09 06:57] denydias commented on #15
The ideia behind it:

* Default: the CCSS to use when no rules match and the page doesn't qualify for a remote extraction job.
* Additional: the CCSS to add after any CCSS provided by a rule or by the default one. It's added unconditionally.

IMHO, default (in the sense of 'the lack of') and additional (in the sense of 'to add something') provides a very good definition for the different purposes

[2018-02-09 14:39] futtta commented on #16
Agreed there are visual clues ... let's close this for now, we'll see how testers react.

[2018-02-09 14:39] #16 closed, assigned to denydias

[2018-02-09 14:41] futtta commented on #6
OK, will ask Jonas and close this (as the functionality is implemented, else I would not have seen the error description)

[2018-02-09 14:41] #6 closed, assigned to denydias

[2018-02-09 14:43] futtta commented on #15
Nothing 😎

I might change the 3rd button label, but you don't need to bother with that, so closing :-)

[2018-02-09 14:43] #15 closed, assigned to denydias

[2018-02-09 14:52] futtta opened #17 "new feature: instruct criticalcss.com to keep specific CSS"
from the documentation of the `generate` method:

There is some overlap with our "add extra CSS to CCSS" button, but the difference is that:
* this is smarter, as it will only include the CSS if it was in the original CSS
* this does not work for CSS that is added using JS (as ccss.com does not see JS-added-CSS)

I think this is best placed in the "advanced" panel, but I'll think about that some m

[2018-02-09 14:56] futtta opened #18 "improvement: extra cleanup of job queue"
the job queue can become large despite "D" jobs being removed, so we might need more pruning, to be specified further.

[2018-02-09 15:44] denydias commented on #15
There's a typo on the second button (double 'extra'). I'll fix that later today...

What label do you have in mind for the 3rd one? I can change it.

[2018-02-09 16:04] futtta commented on #15
I don't know yet :-)

On Fri, Feb 9, 2018 at 4:44 PM, Deny Dias <notifications@github.com> wrote:

[2018-02-09 17:47] futtta commented on #15
OK, let's go for these;
button 2: "Edit default rule CSS"
button 3: "Add CSS to all rules"

On Fri, Feb 9, 2018 at 5:04 PM, frank @ optimizingmatters.com <
futtta@gmail.com> wrote:

[2018-02-15 09:29] futtta commented on #15
You either are celebrating carnival or working (too) hard on other stuff there @denydias .. Or you did not get the notification as the issue was closed ;-)

Anyway, I changed the strings myself just now with commit https://github.com/futtta/ao_critcss_aas/commit/69fd45288ba2d636cc137b97fbbd07cd832439de

[2018-02-15 14:41] denydias commented on #15
Celebrating the carnival too hard is the correct assertion! :P

I'll update the pt-br translation with the new strings. Can I tag that commit as release 0.1.0?

[2018-02-15 14:46] futtta commented on #15
do commit as 0.1.0 and -more importantly- do enjoy the celabrations! :-)

On Thu, Feb 15, 2018 at 3:41 PM, Deny Dias <notifications@github.com> wrote:

[2018-02-15 15:38] denydias commented on #15
Done. Release is [here](/futtta/ao_critcss_aas/releases/tag/0.1.0).

See, carnival is over now! :stuck_out_tongue_closed_eyes:

[2018-02-26 07:31] futtta opened #19 "cron.php lockfile wrong?"
cfr. https://github.com/futtta/ao_critcss_aas/blob/master/inc/cron.php#L55-L65
[code]

I guess L57 should be
[code]

[2018-02-26 07:44] futtta opened #20 "beta-test feedback: nothing happening + php-warning on cron.php#L77"
[code]

L77:
`foreach ($ao_ccss_queue as $path => $jprops) {
`

So I suppose the error implies $ao_ccss_queue was not an array? Any idea why that might be happening Deny?

[2018-02-26 21:36] denydias commented on #19
Yes, `AO_CCSS_DEBUG` is wrong. The correct constant is `AO_CCSS_LOCK`. I'll fix that.

[2018-02-26 21:42] denydias commented on #20
Oh! My mistake! There are many circunstancies where the queue is just empty, thus `$ao_ccss_queue` might just be empty. I'll fix that too.

[2018-02-27 04:14] #19 closed, assigned to denydias

[2018-02-27 04:15] #20 closed, assigned to denydias

[2018-03-13 12:36] futtta opened #21 "PHP warning when activating"
`[Tue Mar 13 13:34:49.648837 2018] [:error] [pid 26870] [client 127.0.0.1:33986] PHP Warning:  mkdir(): File exists in /var/www/html/wordpress/wp-content/plugins/ao_critcss_aas/ao_criticss_aas.php on line 113, referer: http://localhost/wordpress/wp-admin/plugins.php`

[2018-03-13 15:46] #21 closed, assigned to denydias

[2018-03-20 17:36] futtta opened #22 "feature idea: add URL to queue"
some (landing) pages might require their own CCSS which is different from a normal is_page() and currently the only way to ensure that right now is to create a manual rule.

so userstory:

As a ao_ccss_aas user I can add specific URL's to the queue, upon which the plugin automatically gets specific CCSS for them, ensuring they're (re-)fetched if needed (if the hash changes or ..., normal logic).

[2018-03-21 05:34] denydias commented on #22
I didn't get this use case quite right... Isn't it exactly what manual rules are for?

Yes, manual rules blocks ccss.com fetch for a page. So, are we looking to a third rule case beyond auto and manual?

[2018-03-21 11:41] futtta commented on #22
An auto rule based on a manual addition to the job queue :-)

we want to:
1. allow the user to "force" a URL in the job queue as a path-based item
2. CCSS is automatically created for that path
3. this results in path-based rule with CCSS
4. the CCSS can be regenerated if the page is re-entered in the queue automatically at a later point

[2018-03-21 17:51] denydias commented on #22
So, as said before, we have a new rule class. ;)

This will require deep changes in the business rules as this use case wasn't forecast in specs nor implemented to handle it. As such, this is something for a major release (new feature). For now it belongs to backlog.

[2018-03-21 19:43] futtta commented on #22
-> agree with changes in business rule
-> agree with backlog

but to me this "looks" like a variation on the queue, not the rule class;

* we're talking about a rule of type path which we already have
* only diff. currenlty path-rule is always "manual" and this is instead of "automatic"
* but that flag has no impact on how CCSS is injected, only on only on queue handling
* in queue we currently in

[2018-03-23 08:17] denydias commented on #22
Both actually. Users should tell us that a manual rule should update its CCSS, which requires a new property in the rule object. Queue should read that property and act accordingly.

Anyway, this is deep. ;)

[2018-03-23 08:22] futtta commented on #22
nope; as it's not a manual rule; the item was manually added to the queue,
but it's fully automatic from that point onwards :-)

On Fri, Mar 23, 2018 at 9:17 AM, Deny Dias <notifications@github.com> wrote:

[2018-03-23 08:28] denydias commented on #22
Agreed. But still, a new property is required anyway, hence both rules and queue changes.

And another thing: just remember that a manual rules requires CSS content so it can be saved (the ajax service perform a check for this). This logic should be changed to handle that new 'manual auto' rule wit an empty CSS (but still require it for 'manual not auto' rules). Deeeeeepppp... :stuck_out_tongue_cl

[2018-03-23 08:31] futtta commented on #22
Deeeeeppp it is, but what new property do you see for <b>rules</b>?

On Fri, Mar 23, 2018 at 9:28 AM, Deny Dias <notifications@github.com> wrote:

[2018-03-23 08:38] denydias commented on #22
`fetch: false|true`

Where:

- `false`: acts like our actual manual rule in the queue, require CSS content.
- `true`: acts like our actual auto rule in the queue, doesn't require CSS content.

This of course involves changes in the rule dialog too.

Do you want to display those rules with a different badge as `MANUAL` and `AUTO` we have today? If so, more UI changes ahead, including help text.

[2018-03-23 11:09] futtta commented on #22
So I now (after playing around with the plugin some more) understand that currently we can add a MANUAL rule, leave the CCSS empty and it is (supposed to be) picked up at the next queue run;

![image](https://user-images.githubusercontent.com/181297/37825746-2d32d4ea-2e91-11e8-8b86-18e6b8d8cf09.png)

The problem with this:

* it does not seem to work as it has been "To be fetched from criticalcss.

[2018-03-23 17:53] denydias commented on #22
Man! I forgot we've changed that spec during development! I'm sorry.

Well, than what we need is to change that behavior so the rule with an empty content results in an AUTO one. A bit simpler, but still deep. Still, I'm glad we are half way there! ;)

[2018-03-24 19:34] futtta commented on #22
ideally it's not a rule, but an just an item manually added to the queue as type:page really. makes more sense, as a rule by definition has CCSS, which this one does not until it has been processed in the next queue run :)

[2018-03-27 13:22] futtta opened #23 "can't save manual rules"
input:
![image](https://user-images.githubusercontent.com/181297/37969883-3a481f7a-31d2-11e8-9621-d9da65d76359.png)

result:
![image](https://user-images.githubusercontent.com/181297/37969910-4dfa64ce-31d2-11e8-8cb1-d78e0f6c174b.png)

although:
![image](https://user-images.githubusercontent.com/181297/37970014-a0f89556-31d2-11e8-95aa-93974998024a.png)

Also tried on blog.futtta.be, have not been a

[2018-03-27 20:24] denydias commented on #23
Going to look at it tonight.

[2018-03-28 03:41] #23 closed, assigned to denydias

[2018-03-28 18:52] futtta commented on #18
user story: looking at the queue log I only want to see entries that are relevant to me

acceptance criteria:
* when an "E" job exists in the job queue for rule X (path or conditional) and after that for the same rule
a successful job is logged, then the old  "E" job can be removed from the queue log
* when an "U" job exists in the job queue for rule X (path or conditional) and after that for the

[2018-03-28 18:59] futtta commented on #17
user story: as a user I can tell criticalcss which CSS that has to be force-included in the CCSS

acceptance critiria:
* add textarea in "advanced settings"
* that textarea contains a comma-separated value
* in that comma-separated list both "values" and "regexps" can be added
  * a string is considered regexp if it contains two forward slashes
  * else it is considered a normal value

based on th

[2018-03-29 17:11] denydias commented on #18
So, reducing the above we have:

**For every DONE (successful) job, remove from the queue ever instance of a RETRY, ERROR or UNKNOWN jobs corresponding to the same rule.**

Is that statement correct?

There should be nothing to do for DONE jobs, as today they are already cleaned on every queue run. This behavior do not depend on previous job statuses.

[2018-03-29 17:51] futtta commented on #18
Correct.

On Thu, Mar 29, 2018 at 7:11 PM, Deny Dias <notifications@github.com> wrote:

[2018-04-03 06:19] denydias commented on #17
Ready for testing. Generate endpoint request body now can become:

[code]

ccss.com respond well with the above request.

Read for testing.

[2018-04-04 04:49] denydias commented on #22
Suppose the following rule object:

[code]

Both rules where created by the user. Path `/hello-world` has a CSS content entered in the textinput at rule creation dialog box, while path `/2017/11/` has no CSS content entered (clear text box).

Job qualification goes as this:

[code]

At this point the queue object is:

[code]

When the queue run its first pass (generate):

[code]

And the second pa

[2018-04-04 06:15] futtta opened #24 "can't delete job in queue"
![image](https://user-images.githubusercontent.com/181297/38291506-57d2a196-37e0-11e8-8637-eb28161724fd.png)

[2018-04-04 06:59] denydias commented on #24
Hum... this is new. It was working some chromium versions ago. Looks like chromium devs decided to limit variable scope even more. I'll commit a fix for that in a sec.

[2018-04-04 07:01] #24 closed, assigned to denydias

[2018-04-04 07:12] futtta commented on #24
Mine was in FF though :-)

On Wed, Apr 4, 2018 at 9:01 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-04 07:14] denydias commented on #24
Well, then some js standard was adopted by both. The fix deals with it properly in chromium, ff and others.

[2018-04-04 12:10] futtta commented on #22
explanation looks sweet Deny, I'll test this (and the other US) out later
this week!

On Wed, Apr 4, 2018 at 6:49 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-05 20:56] denydias commented on #18
I've researched this on last two days. The queue already operates like desired.

Bellow is a generic example with `U` status:

1. Delete `is_front` rule if existing and clean the queue up.

2. Enable debug and add the file `wp-content/cache/ao_ccss/queue.json` with the following content:

[code]

3. Using a browser, request the frontpage to trigger a job creation. Job will be qualifed and created.

[2018-04-06 12:19] futtta commented on #18
I'll ponder this a bit :-)

On Thu, Apr 5, 2018 at 10:56 PM, Deny Dias <notifications@github.com> wrote:

[2018-04-06 20:34] denydias commented on #18
Feel free! ;)

One point I forgot to mention: only D jobs are deleted on every queue run (if there are no other job queued for the same type or path). R, E and U jobs persists in the queue until recycled.

[2018-04-09 14:49] futtta commented on #22
Some confusion: I can now manually create a rule with a conditional tag and leave the CCSS empty, ao_ccss_aas accepts that and lists the rule as "To be fetched from criticalcss.com in the next queue run..." but that won't work, will it?

2 solutions:
* change the placeholder-text if the user selects conditional tag + prevent manual rule with conditional tag from being submitted if the user does no

[2018-04-09 20:06] denydias commented on #22
No. What you can now is to manually add an AUTO rule IF you leave the CSS empty. This is what I understood from [this](/futtta/ao_critcss_aas/issues/22#issuecomment-374909819).

It should work just like paths. I haven't tested it for conditionals, but the logic behind is the same as paths, for which I've tested.

A solution for what? I do not see a problem here.

I think: why do Frank wants to for

[2018-04-09 20:20] futtta commented on #22
the reason why _I think_ auto-generated rules form manually added rule with
empty CCSS is that your job-runner requires a URL to feed to ccss.com. if
you choose a conditional rule, you have a condition but not a URL, so you
can't submit the rule with empty CCSS to ccss.com?

On Mon, Apr 9, 2018 at 10:06 PM, Deny Dias <notifications@github.com> wrote:

[2018-04-09 20:32] denydias commented on #22
Oh right! I'm ludicrous wrong indeed! :stuck_out_tongue_closed_eyes:

Automatically created AUTO rules for conditionals have a path associated to it. But manually created AUTO rules for conditionals don't.

In that case, I think the better is not to allow users to create a conditional rule with empty CSS. We can just validate that before save.

[2018-04-09 20:44] futtta commented on #22
OK :-)

On Mon, Apr 9, 2018 at 10:32 PM, Deny Dias <notifications@github.com> wrote:

[2018-04-10 13:44] futtta opened #25 "manual conditional rule becoming auto rule, overwriting CCSS"
As observed by a user and confirmed on my blog;
1. create a manual rule for is_front_page conditional tag, add CCSS and submit
2. manual rule is successfully created
3. go back some time later (I guess after the next queue run) and the manual rule is auto + the original CCSS got overwritten.

This is probably a regression due to https://github.com/futtta/ao_critcss_aas/issues/22

[2018-04-10 18:59] futtta commented on #17
Testing this now on my blog, added `.yarpp_pro_msg` in forceExclude.

original CSS in https://blog.futtta.be/wp-content/plugins/yet-another-related-posts-plugin/style/widget.css
the selector is also in the AO'd CSS: https://blog.futtta.be/wp-content/cache/autoptimize/css/autoptimize_3385c45853209f22782d4a94ccc4fd1f.css

But it is not added to any CCSS up until now.

Can you look into this? :)

[2018-04-10 19:01] denydias commented on #17
Please enable debug and add a log for this critical css job.

[2018-04-10 23:14] denydias commented on #17
Frank, the log you've sent by email contains this:

[code]

The body object is:

[code]

It looks conform to the ccss.com specs. Maybe Jonas can have a more detailed explanation for why this is happening. I'll talk to him.

[2018-04-11 05:40] pocketjoso commented on #17
@futtta I presume you meant forceInclude? Let me have a look at this.

[2018-04-11 05:47] pocketjoso commented on #17
Tested on criticalcss.com, which uses the same api.

this body for the generate request _works_:
[code]
__Edit: ignore this, use what the docs say, I have made sure it works now__

[2018-04-11 05:48] pocketjoso commented on #17
But I do see a difference with the `value` key. Let me dig, maybe my documentation is wrong here!

[2018-04-11 06:11] futtta commented on #17
forceInclude indeed;
![image](https://user-images.githubusercontent.com/181297/38599238-e9f062be-3d5f-11e8-95d9-77b2e761cfb1.png)

[2018-04-11 06:16] pocketjoso commented on #17
The api was not accepting what was in the documentation - I have pushed a fix and it should be working now _without any change on your end_. Please try again!

[2018-04-11 06:52] futtta commented on #17
OK, testing.

On Wed, Apr 11, 2018 at 8:16 AM, Jonas Ohlsson Aden <
notifications@github.com> wrote:

[2018-04-11 07:10] futtta commented on #17
OK, works, now testing with regex :)

[2018-04-11 07:13] denydias commented on #17
That's great! :wink:

[2018-04-11 08:11] futtta commented on #17
regex seems to work as well :)

[2018-04-11 16:46] futtta commented on #17
@denydias I now tried 2 regexps and that seems like a no-go, probably at plugin level.

I have this in the plugin's "force include" field, both regexs:
`//.yarpp_pro_msg, //.contactform`

but the POST request seems broken for the 2nd one:
`2018-04-11T16:42:45+00:00 - [DD] criticalcss.com: POST generate request body is {"url":"http:\/\/blog.futtta.be\/2013\/12\/30\/autoptimize-no-100000-downloads-j

[2018-04-11 18:22] denydias commented on #17
CSV should not have leading or trailing spaces.

Anyway, as we can't guarantee that I've trimmed the values so they behave as expected.

Test string in adv panel:

[code]

Resulting object:

[code]

[2018-04-11 20:32] futtta commented on #17
POST payload to ccss.com confirmed OK after trimming;
`2018-04-11T20:31:27+00:00 - [DD] criticalcss.com: POST generate request body is {"url":"http:\/\/blog.futtta.be\/2010\/06\/16\/embedding-html5-youtube-video-with-wp-youtube-lyte\/","aff":1,"forceInclude":[{"type":"RegExp","value":"\/.yarpp_pro_msg\/i"},{"type":"RegExp","value":"\/.contactform\/i"}]}`

[2018-04-11 20:45] futtta commented on #17
And the CCSS indeed contains the force-included CSS. All good, closing this issue.

[2018-04-11 20:45] #17 closed, assigned to denydias

[2018-04-13 07:22] #25 closed, assigned to denydias

[2018-04-13 07:22] denydias commented on #25
There was a regression, yes. Fixed in the above commit.

Just to make sure: are ou saving changes after creating the rule? By not saving changes, rules just created appear in UI but are not persisted and a cron job could create an auto one instead. They could look like 'overridden' to the user.

Just by submitting the rule dialog is not enough. One must hit 'save changes' button in the main UI.

[2018-04-13 07:23] denydias commented on #22
New validation for types is ready for testing.

[2018-04-13 07:37] futtta commented on #25
"always saving", yes. we might want to improve on that by doing some ajaxy
stuff one day ... I'll add this idea as an issue so we don't forget about
it.

On Fri, Apr 13, 2018 at 9:22 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-13 07:38] futtta opened #26 "new feature (ux improvement): auto-save (via AJAX)"
Use ajax to update stuff to avoid changes getting lost because save was not explicitly clicked.

[2018-04-13 07:39] denydias commented on #25
I knew this day was coming... :wink:

[2018-04-13 07:48] denydias commented on #26
Define 'stuff':

- All rule and queue table panels actions (incl. dialogs and buttons); or
- Frank's selections of actions (name then).

[2018-04-13 07:49] futtta commented on #26
later, I just put it here so we do not forget :-)

On Fri, Apr 13, 2018 at 9:48 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-13 07:53] denydias commented on #26
Sure! Just a reminder so I can provide an effort. :wink:

[2018-04-13 13:08] futtta commented on #22
confirmed OK, thx Deny :)

[2018-04-13 13:08] #22 closed, assigned to denydias

[2018-04-13 13:52] futtta commented on #18
OK, follow-up; although I (somewhat ;-) ) understand what you're writing above, based on feedback from the beta-testers seeing all these "E" and "R" items in the queue causes uncertainty/ stress, which is ... useless really as:
* the R and E jobs have often already been rendered redundant by later successful runs (so there's no impact on the resulting conditional rules)
* the E jobs can only be re

[2018-04-13 16:24] denydias commented on #18
This is what I would do.

1. Get rid of D and R jobs as soon as they finish.
2. Order P, E and U.

D jobs are useless once finished. Their existence just clutter the UI and provides no really useful info as there are no possible actions for them anymore besides deletion.

R jobs are the same as D. What needs review are rules, not jobs. Rules in that state are marked with R.

P jobs are the importa

[2018-04-13 19:01] futtta commented on #18
OK, let's do that!

But regarding the "E"-s; I talked with @pocketjoso earlier and he says "NO_CSS" should only happen if we request the same job twice; the first time successful, the 2nd time failing as the CCSS has been removed after successful retrieval that first time. So even if less visible, we would need to look into this, if need be with Jonas' help?

[2018-04-14 10:23] pocketjoso commented on #18
Re NO_CSS - Frank is right, whenever you get this error it means you have already received the results, and are making a faulty extra request.

The changes in here sound good, love the work you're doing to make the plugin great!

[2018-04-14 15:03] denydias commented on #18
Thanks for the kind words, @pocketjoso.

@futtta, I'll implement that changes during the next week.

Re NO_CSS, please create a new issue. Here is not place to deal with it. But please wait for this queue changes so you can clean up the log and attach a new one with NO_CSS showing up. I have a clue of why it's happening, but need a log to confirm my thoughts.

[2018-04-14 18:55] futtta commented on #18
OK, that sounds like a plan @denydias :-)

On Sat, Apr 14, 2018 at 5:03 PM, Deny Dias <notifications@github.com> wrote:

[2018-04-16 09:48] futtta opened #27 "NO_CSS issue (placeholder)"
To be looked into after finsishing [queue cleanup](https://github.com/futtta/ao_critcss_aas/issues/18), for now just a reminder ;-)

[2018-04-16 23:54] denydias commented on #18
Queue cleanup done. New behaviors:

1. Jobs are removed as soon as the become D (regardless of the ccss.com result or validation states).
2. Queue sort orders are now: N, P, E and U.
3. I decided not to remove the logic for D and R from the queue JS. They are there and functional. This will make things easier in case those statuses comes back in the future.

Ready for spin.

[2018-04-17 11:09] futtta commented on #18
ready for me, onwards & upwards!

[2018-04-17 11:09] #18 closed, assigned to denydias

[2018-04-17 11:12] futtta opened #28 "license key check FAIL causes rules to be flushed"
cfr. mail earlier today; due to a problem on Jonas' side the license key check temporarily failed while I was testing the "queue cleanup"-improvements. Once the license key check succeeded again, all my existing rules had been flushed, but rules should persist even if the license key check fails.

[2018-04-19 06:29] denydias commented on #28
I'll change the cleanup tasks from `register_deactivation_hook` to `register_uninstall_hook`.

This will bring two downsides:

1. The deactivation/activation dance to upgrade behaviors will not work anymore. Users will have to uninstall/install the plugin using wp-admin so the new behaviors works as expected.

2. Users should not uninstall the plugin by deleting its directory. If a user just delet

[2018-04-19 06:42] futtta commented on #28
dumb question maybe, but why would a license check fail trigger actions
hooked into plugin deactivation (or uninstallation)?

On Thu, Apr 19, 2018 at 8:29 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-19 06:46] denydias commented on #28
No questions are dumb. Answers maybe... just like that: because I did it that way as there was a lack of specs for this feature. :P

When the license check fail, it's just like a new beginning.

[2018-04-19 06:51] futtta commented on #28
so can we undo that link? so if license check fails, just stop access to
the admin functionality (except for the license key fiels), but leave all
else as is?

On Thu, Apr 19, 2018 at 8:46 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-19 07:02] denydias commented on #28
Sure! In the current milestone or the next one?

[2018-04-19 07:12] futtta commented on #27
![image](https://user-images.githubusercontent.com/181297/38976433-ad0ff028-43b1-11e8-9853-2705f07e5a3b.png)

But all 3 are "NO_RESPONSE", not "NO_CSS". When would that happen @denydias ?

(got a big-ass queue.log file which I can provide if needed)

[2018-04-19 07:15] denydias commented on #27
Do not copy that... NO_RESPONSE is a service disruption. NO_CSS is another thing...

[2018-04-19 07:17] futtta commented on #28
You can do it in this one :)

On Thu, Apr 19, 2018 at 9:02 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-19 07:19] denydias commented on #28
Ok then. I'm a bit busy with other stuff in the next two days. In the weekend I'm going to ride my bike for camping nearby a waterfall. Get back to it on monday, ok?

[2018-04-19 07:19] futtta commented on #27
service disruption at criticalcss.com's?

[2018-04-19 07:22] denydias commented on #27
Yep. WP tried a connection and reached a closed door (or something like that). This could happen in the better and stable families...

[2018-04-19 07:25] futtta commented on #27
OK, we'll ignore those in that case :)

On Thu, Apr 19, 2018 at 9:22 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-19 07:25] futtta commented on #28
Sure, no issues mate, enjoy the bike trip!! :-)

On Thu, Apr 19, 2018 at 9:19 AM, Deny Dias <notifications@github.com> wrote:

[2018-04-19 07:30] denydias commented on #27
You should! You can't ged rid of every single E. There are so many circumstances where a job just can't complete in a good manner.

You see all three E are close in time. Probably some quick maintenance on their side, or a network problem on your side, or their side, a machine reboot, a huge DDoS attack going on at Karkumenistan which routed traffic on ccss.com provider for a couple minutes... who

[2018-04-19 07:32] denydias commented on #28
Oh yeah, I'll! :motor_scooter::dash::dash:

Thanks!

[2018-04-23 16:05] denydias commented on #28
Frank, I'm looking into this right now. It turns out this is not a bug. What happens is described bellow:

1. When a key validation fail, none of the plugin's `wp_options` settings are touched (incl. rules and queue). They remain just the same. You can check this by enabling debug, entering a invalid key and saving the changes. All the `autoptimize_ccss_*` are going to be kept.

2. Now that you ha

[2018-04-24 16:38] futtta commented on #28
* a relief settings remains as they were when there's no user interaction
* the fact that any key-change or accidental re-submission of the key (as I did) removes all rules remains problematic
* my old (non-automated) plugin indeed had the rules-object as a hidden field for this very reason;

[code]

And that is (all) we need really; to persist the rules. Doesn't have to be that complicated, does

[2018-04-24 17:47] denydias commented on #28
We can't just throw out hidden fields at will and expect that them to just work as magic. You have to remember that we are hiding panels for a reason (unclutter UI before it becomes useful). So, if we just add those hidden fields, they MUST be present only when there are no other fields with same names to avoid saving outdated values into DB, as JS handles everything under the hood expecting value

[2018-04-25 14:09] denydias commented on #28
Frank, implemented free of charge! :wink:

Ready for testing.

[2018-04-26 07:41] futtta commented on #28
tested, works perfectly! thanks @denydias ! :-)

[2018-04-26 07:41] #28 closed, assigned to nobody

[2018-04-26 07:42] futtta commented on #27
no for something weird; I don't seem to get "no_css" any more, did you already implement some fix @denydias or is this coincidence?

[2018-04-27 02:26] denydias commented on #28
Can I close the milestone and tag the release?

[2018-04-27 05:13] futtta commented on #28
yes, you can Sir! :-)

On Fri, Apr 27, 2018 at 4:26 AM, Deny Dias <notifications@github.com> wrote:

[2018-05-11 13:01] futtta commented on #27
closing, no more NO_CSS to be seen.

[2018-05-11 13:01] #27 closed, assigned to nobody

[2018-05-11 13:03] futtta opened #29 "new feature: semi-auto rules for conditional tags as well"
so "semi-auto" rules are a thing for path-based rules (yay), the idea would be to allow the same for conditional tags, where we ask the user for the URL to be used to the selected conditional.

[2018-05-11 13:18] futtta opened #30 "new feature: force include per semi-automated rule?"
not 100% sure about this one yet, but for documentattion sake;
for semi-automated rules: in the input modal add an input field to specify "force include" for that specific rule (was feedback from a user actually who noticed the generic force include resulted in all CCSS having extra CSS, even though he only needed it for one specific custom post type).

[2018-05-16 11:43] futtta opened #31 "wordpress multisite: requests being done for more then 1 site"
from Jonas' mail:

I'm asking for more info.

[2018-05-16 11:45] futtta opened #32 "queue jobs getting terminated"
re. the mailchain; it looks like (at least for 1 user, potentially more) the queue processing job gets terminated (probably after X seconds).

[2018-05-16 21:35] #12 closed, assigned to nobody

[2018-05-16 23:29] denydias commented on #32
This is not a bug nor a feature. This may be caused by some hosting services and we can't do nothing about it. Our ongoing user story fortunately may end well as his hosting service (WP Engine) provide a way to offload cron elsewhere. Other services may not be that nice and we have no way to force them to.

One thing that may PARTIALLY work is to partition the queue and run it by small batches. Th

[2018-05-16 23:34] denydias commented on #32
On queue panel we have some advice for users to deal with this. Our best bet is to improve the text, which actually says:

by using WordPress Cron (or WP-Cron for short.) It could be faulty on very
light or very heavy loads. If your site receives just a few or thousands
visits a day, it might be a good idea to turn WP-Cron off and use your system
task scheduler to fire it instead.

[2018-05-17 05:17] futtta commented on #32
Let's await feedback from Abhyank :-)

[2018-05-17 12:10] futtta commented on #32
confirmation:
* changing to non-WP cron did not help
* the processes are indeed terminated because they were running for too long (1m)

given PHP by default comes with a 30s max_execution_time and given the fact other hosts will probably have similar limitations we will need to work around this somehow @denydias

2 ideas which might be simpler then your complex queue control:
1. keep the existing

[2018-05-17 23:19] denydias commented on #32
Queue sorting is implemented. Order will be: ERROR, JOB_ONGOING, JOB_QUEUED, NEW...

E jobs are not handled by the queue, so there is no harm in making then first and the sort algorithm is quicker that way.

I'm going to implement the request limit to break the queue loop later.

Still waiting for ccss.com reply about keeping GET results for a while as we've discussed by email.

[2018-05-18 03:03] denydias commented on #32
Request limit advanced option ready for testing.

[2018-05-18 20:27] denydias commented on #32
Approved for tagging by @futtta.

[2018-05-18 20:27] #32 closed, assigned to nobody

[2018-05-21 08:17] futtta commented on #31
based on extra info (but no more info from customer) this happens when copying a (sub-)site including all settings to a new one. to me this sounds like "works as designed" so not a bug.

[2018-05-21 08:17] #31 closed, assigned to nobody

[2018-05-21 08:33] futtta opened #33 "advanced option; force noptimize"
in some (very) rare cases ccss.com has issues parsing AO's CSS, in which case having an (advanced) option to force the plugin to feed ccss.com a URL with `?ao_noptimize=1` appended to the to be CCSS'ed URL would make sense.

[2018-05-26 20:58] futtta commented on #33
tested on my own blog with and without flag, seems to work OK. @denydias would you care to do a quick review of https://github.com/futtta/ao_critcss_aas/commit/fca6a641d218cb036c7150cda2914de91f68304b to make sure I didn't do anything stupid? :-)

[2018-05-26 23:06] denydias commented on #33
You've forgot the export/import features. I'll fix that until monday.

[2018-05-27 05:16] futtta commented on #33
Should be OK now :grin:

[2018-05-27 05:19] denydias commented on #33
Yeap!

Anyway, I'll provide translations. Is this very urgent? Tag 1.2.0?

[2018-05-27 05:41] futtta commented on #33
nah, not urgent :-)

tag it as 1.1.1, it's not important enough for 1.2.0 ;-)

On Sun, May 27, 2018 at 7:19 AM, Deny Dias <notifications@github.com> wrote:

[2018-05-27 06:29] denydias commented on #33
We're using [semantic versioning](https://semver.org/) to tag. There are no important or unimportant features. There are only features that brakes or not the API, and patches. This one is a backwards-compatible feature, so it worth a 1.2.0 tag.

What I mean by asking is if this feature should be part of 1.2.0 alone or do you want to include any other feature. Do you?

[2018-05-27 06:33] futtta commented on #33
let's wait until I'm sure, looking into the commercial texts today/
tomorrow.

On Sun, May 27, 2018 at 8:29 AM, Deny Dias <notifications@github.com> wrote:

[2018-05-27 07:21] denydias commented on #33
Done with translation. Also changed the logic to add the query string parameter a little bit and did some cleanup.

[2018-05-27 07:25] futtta commented on #33
Obrigado Deny!

[2018-05-27 07:32] denydias commented on #33
Graag gedaan, Frank!

[2018-05-27 17:33] futtta commented on #33
ready for tagging mate :)

[2018-05-27 17:33] #33 closed, assigned to futtta

[2018-05-28 03:29] denydias commented on #33
[Done.](https://github.com/futtta/ao_critcss_aas/releases/tag/1.2.0) :wink:

[2018-06-18 05:17] futtta opened #34 "job queue worries (was: deal with too big a queues)"
some users are reporting huge queues (I suppose they're on slow hosts and more items are added then there are processed, to be looked into).

but to keep things manageable (or to give users some control over this), we could look into:
* a button "clear queue" for the user to press when things get too intense ('p' jobs should stay I guess)
* a mechanism to purge "N" queue items older then X hours (

[2018-06-18 05:17] futtta commented on #34
feedback welcome @denydias

[2018-06-18 05:49] denydias commented on #34
First things first: define 'huge'. How many jobs you consider a huge queue?

[2018-06-18 06:03] futtta commented on #34
Hundreds - thousands

On Mon, 18 Jun 2018, 07:49 Deny Dias, <notifications@github.com> wrote:

[2018-06-18 07:26] denydias commented on #34
Hummm... I think that the solution for hundreds and thousands of jobs in the queue is to decrease the time between queue runs. Maybe ask those users with huge queues to install something like [wp-control](https://br.wordpress.org/plugins/wp-crontrol/) so they can change the default queue interval from 10 minutes to, let's say, five, three or even one minute.

The thing to clear the queue or purge

[2018-06-21 05:28] futtta opened #35 "check for DISABLE_WP_CRON and warn if so in notice"

[2018-06-21 05:30] denydias commented on #35
Do you want to display a notice if DISABLE_WP_CRON is true or unset/false?

[2018-06-21 05:51] futtta commented on #35
would be notice if DISABLE_WP_CRON it true, as that would result in our
queue not being processed?

On Thu, Jun 21, 2018 at 7:30 AM, Deny Dias <notifications@github.com> wrote:

[2018-06-21 06:27] denydias commented on #35
Actually we have pretty clear instructions for the case `DISABLE_WP_CRON = TRUE` in the queue panel.

[2018-06-21 06:52] futtta commented on #35
fact is;
* people don't even (always) know they have "DISABLE_WP_CRON = TRUE" on
(happened yesterday with a user, he was clueless)
* people don't read instructions
* (most) people aren't tech savvy enough to switch to system cron (and the
hoster might object)

so that's 3 facts actually ;-)

On Thu, Jun 21, 2018 at 8:27 AM, Deny Dias <notifications@github.com> wrote:

[2018-06-21 13:21] denydias commented on #35
Right... so, notify we should. ;)

[2018-06-21 14:54] futtta opened #36 "change cache location outside of wp-content/cache"
in come cases wp-super-cache removes wp-content/cache/*, causing breakage, guess it would be best to move our cache-folder to wp-content/uploads?

[2018-06-21 15:22] denydias commented on #36
Our files are from cache nature, so they should be in wp-content/cache. Move them to upload hurts WP architecture purposes.

wp-super-cache should be the one not fiddling with other's cache. Maybe filling a bug for it should be more respectful to WP ecosystem and its users, no?

[2018-06-21 16:44] futtta commented on #36
wp-content/cache is not part of wordpress core, it is added/ used by a
number of plugins, with WPSC being the most popular :)

On Thu, Jun 21, 2018 at 5:22 PM, Deny Dias <notifications@github.com> wrote:

[2018-06-21 18:41] denydias commented on #36
No, it's not, but it is a well know place for persisted transients, while wp-content/uploads is well know (not in core also) to store static objects. As per wp-content sepc, I think a better place would be `wp-content/ao_ccss`. No one is going to fiddle in that directory.

[2018-06-21 19:25] futtta commented on #36
that might be the best solution yes. except for hosts that limit
write-rights to known need-to-be-writable directories such as ..
wp-content/uploads  *grin*

what's the disadvantage of using wp-content/uploads. I know of pagebuilders
& themes that also store stuff there (in their own sub-dir, obviously)?

On Thu, Jun 21, 2018 at 8:41 PM, Deny Dias <notifications@github.com> wrote:

[2018-06-22 07:01] denydias commented on #36
Semantics. Upload is not cache.

[2018-06-24 05:44] futtta opened #37 "force rule without CCSS to be added to job queue ..."
... sooner rather then later (having to wait for the page to be requested which due to a page cache might be a lot later)

[2018-06-24 12:09] futtta opened #38 "allow specific pages not having critical css"
as released in 1.3.0: when request matches a rule with "none" as CCSS, no critical CSS is injected (and instead the full CSS is inlined).

[2018-06-24 12:10] #38 closed, assigned to nobody

[2018-06-24 12:12] futtta opened #39 "People can't find "inline & defer""
When people install the power-up they will get a message to activate inline & defer, but some have not clicked on "show advanced options" in AO, meaning they won't find "inline & defer". As such we should force AO to show advanced options if the "activate inline & defer option"-message is shown.

[2018-06-24 12:12] #39 closed, assigned to nobody

[2018-06-28 06:07] futtta opened #40 "(optionally) create path-based rule from each succesful job run?"
to fix issues e.g. with is_page pages being used with different look & feels and needing different CCSS, we _could_ have an (advanced) option (off by default) that not only saves CCSS for the conditional tag, but also saves the CCSS for the specific path.

downsides (which is why this would be an default off option):
1. huge amount of rules make the UI stink, harder for users to find/ alter someth

[2018-06-29 08:40] pocketjoso commented on #40
I don't see how this could take any significant time at all. Finding by ~ id (url) in a list?

[2018-06-29 08:41] pocketjoso commented on #40
also:

The goal is for the plugin to be automated, right, so as long as the automation works this should be a non-issue.

[2018-06-29 09:41] futtta commented on #40
maybe ;-)

On Fri, Jun 29, 2018 at 10:41 AM, Jonas Ohlsson Aden <
notifications@github.com> wrote:

[2018-07-08 13:43] futtta opened #41 "change default viewport"
as per Jonas' pointer: change default viewport to 1400x1080

[2018-07-08 15:28] futtta opened #42 "jobs status badges improvements?"
as per Jonas' comment;
* "if I hover it it gives me a cursor indicating it's clickable, but it's not"
* "I also had to go hunting to understand what N meant [...]  I was expecting tooltip but not getting any. Long delay before showing, perhaps?"

[2018-07-08 17:38] pocketjoso commented on #42
After some time the default HTML tooltip shows up. Is this what is meant to happen?
![tooltip-missing](https://user-images.githubusercontent.com/7192832/42422444-4f9541b8-82e6-11e8-88b8-45b6b67efcf0.gif)

[2018-07-08 18:32] futtta commented on #42
yeah, that's what it should do indeed.

On Sun, Jul 8, 2018 at 7:38 PM, Jonas Ohlsson Aden <notifications@github.com

[2018-07-08 18:40] pocketjoso commented on #42
okay, default html tooltips always bother me because they are slow, but not really a bug there then. Just the fact that the element has a click cursor, while clicking does nothing.

[2018-07-08 18:52] futtta commented on #42
we could switch the click cursor to an arrow?

On Sun, Jul 8, 2018 at 8:40 PM, Jonas Ohlsson Aden <notifications@github.com

[2018-07-08 19:33] pocketjoso commented on #42
Yes, better fit here.

[2018-07-11 18:38] futtta commented on #36
whatever directory this ends up in, we'll need to move files from wp-content/cache/ao_ccss/ to the new directory to avoid breakage!

[2018-07-12 05:20] denydias commented on #42
A simple arrow does not indicate there's something more to be seen. CSS3 `context-menu` or `help` would be a better fit. A list of available CSS cursors is available [here](https://codepen.io/benlinton/full/JXzZBp/). Please indicate one or confirm `default` (arrow).

Also default HTML tooltips doesn't require any extra JS for displaying them. WP already has enough JS IMHO.

RTFM will do.

![ao_cri

[2018-07-12 05:22] denydias commented on #36
Anywhere will do. Keep `wp-content/uploads/ao_ccss/` then.

[2018-07-12 05:24] futtta commented on #42
we'll go "default" :-)

On Thu, Jul 12, 2018 at 7:20 AM, Deny Dias <notifications@github.com> wrote:

[2018-07-12 05:25] futtta commented on #36
deal :)

On Thu, Jul 12, 2018 at 7:22 AM, Deny Dias <notifications@github.com> wrote:

[2018-07-12 05:52] denydias commented on #40
Our rule and queue objects are, by design, a json object that is:

- parsed into multidimensional associative arrays.
- CRUD (Create, Read, Update and Delete).
- parsed back into json objects for persistence.

There are lots of operations in all the above areas that, when summed up, does add significant time into the plugin UI and queue processing. PHP is not a *real* compiled language where array

[2018-07-12 16:48] #42 closed, assigned to nobody

[2018-07-12 16:48] #41 closed, assigned to nobody

[2018-07-12 16:48] #36 closed, assigned to nobody

[2018-07-12 16:49] #35 closed, assigned to nobody

[2018-07-15 08:27] futtta opened #43 "type rule execution order"
if an `is_page`-rule was created before an `is_front_page` one, the front-page (if a page) never gets the CCSS from the `is_front_page` rule but the one of `is_page`.

[2018-07-15 13:04] futtta opened #44 "non-core conditional tags loosing prefix"
`woo_is_cart` ends up as `is_cart` in the rule object, but `woo_` and the likes are only meant to be removed for display purposes.

[2018-07-15 14:10] futtta commented on #44
fix see https://github.com/futtta/ao_critcss_aas/commit/6436c113e3700b3504a230a2b8a82936d6b97013

[2018-07-15 14:25] futtta commented on #43
better ordering in https://github.com/futtta/ao_critcss_aas/commit/708934ab4187c592c992fb734eec9d39d005725a

and making sure ao_ccss_rules is ordered correctly in the first place as per https://github.com/futtta/ao_critcss_aas/commit/c592fcb9eca3467793fbe784b8317d09db26588c

[2018-07-15 14:26] futtta opened #45 "woo_ rules don't work"
code treats them as templates, which they are not

[2018-07-15 14:26] futtta commented on #45
fix: https://github.com/futtta/ao_critcss_aas/commit/8af3d5ba76b6d4f87f02a0b3bc5dafb3e7b7a028

[2018-07-15 19:05] futtta opened #46 ""default CCSS" reset when activating pluging"
CCSS added in AO proper gets reset to "" when activating the power-up, problably due to the hidden form being submitted without default CCSS when adding/ validating API key.

[2018-07-18 08:49] futtta opened #47 "deactivation: "headers already sent" error"
happens when the queue.lock file is lingering around

[2018-07-18 08:50] futtta commented on #47
fix: https://github.com/futtta/ao_critcss_aas/commit/3bec7c1393bf6400b72e96470a11dff61b21ca53

[2018-07-18 17:01] #43 closed, assigned to futtta

[2018-07-18 17:01] #44 closed, assigned to nobody

[2018-07-18 17:01] #45 closed, assigned to nobody

[2018-07-18 17:01] #46 closed, assigned to nobody

[2018-07-18 17:01] #47 closed, assigned to nobody

[2018-07-20 11:16] futtta opened #48 "(option to) disable CCSS injection for logged in users"
as:

* CCSS can only be fetched for anonymous users
* CSS can (and often is) different for logged on users

shouldn't we simply not inject CCSS for logged on users?

disadvantage; users might claim it doesn't work, as they would not see the CCSS when doing view-source in their active browser-session (they would need switch to a different browser/ private session).

[2018-07-20 13:01] pocketjoso commented on #48
Imo let's just explain that they should check the site logged out to see it with critical css. (unless they change this setting - at their own responsibility)

[2018-07-20 13:09] futtta commented on #48
the question is; for how many users does the CCSS break the logged in pages
even after the full CSS has loaded. this _should_ be a small percentage.

and if it doesn't break final rendering, then having the CCSS in place does
allow for faster rendering of the page (albeit without the elements that
are for logged-in users only.

because if we disable CCSS for logged in users by default, we're makin

[2018-07-20 13:12] pocketjoso commented on #48
even after the full CSS has loaded. this _should_ be a small percentage.

It's not enough that the full render fixes it, if it's broken at the first render it's a no-go.

allow for faster rendering of the page (albeit without the elements that
are for logged-in users only.

Only if the full css is not cached. Which it should be after the first visit. Yes, there are definitively cases where a logge

[2018-07-22 16:15] futtta opened #49 "can we "guess" when cron isn't working"
if:

* there are no auto rules
* the job queue only contains N jobs
* if the oldest N jobs is more then 1 day old

then can we assume the cron processing job isn't executing, meaning there is an issue with the system's cron in which case we can warn the user about that?

[2018-07-22 18:13] futtta opened #50 "stale lockfile"
i was working on a site and cron was running, but apperantly there was a stale queue.lock file lingering about (probably because the PHP-process that was processing the queue was killed on the server). (how) can we detect & fix this?

[2018-07-23 09:34] pocketjoso commented on #49
Sounds like a good idea to me. We could also populate the FAQ to say something about cron problems (sorry have not checked if it already does)

[2018-07-23 13:02] futtta commented on #50
maybe we can call [filemtime()](http://php.net/manual/en/function.filemtime.php) on the lockfile and if older then x hours (where 1<x<4, to be choosen) then hard-remove it (as one instance of a job-processsing process cannot take more then x hours)? or, if we want to be super-careful, not remove the lockfile but tell the user with a warning on the dashboard?

[2018-07-24 07:46] futtta opened #51 "empty CCSS-files"
although edge case, if -due to user intervention or other issues (it happens)- the CCSS-file is empty, could we remove the rule/ overwrite the corresponding rule? maybe by adding a check in the queue processing mechanism and proceeding if a matching rule is found that has an empty CCSS-file?

[2018-07-24 11:16] futtta commented on #50
@denydias have been looking at the code and it seems the lockfile is already getting hard-removed in the twice-daily running ao_ccss_maintenance job, cfr. https://github.com/futtta/ao_critcss_aas/blob/master/inc/cron.php#L802-L818, correct? so a stale lock-file _could_ stick around for approx. 12h, but would automatically get removed unconditionally?

[2018-07-24 15:09] denydias commented on #50
Yes, @futtta. Every queue should have a lock mechanism to avoid race conditions. As such, there should be also a mechanism to clean up the locking feature to avoid a stale queue.

`ao_ccss_cleaning()` is bind to the `ao_ccss_maintenance` action, which in turn is activated by WP-Cron's `twicedaily` default schedule. This schedule runs every 12h to remove a locked queue unconditionally.

I do not re

[2018-07-24 15:18] futtta commented on #50
clear, thanks Deny!

On Tue, Jul 24, 2018 at 5:09 PM, Deny Dias <notifications@github.com> wrote:

[2018-07-24 15:21] futtta commented on #50
as there already is logic to remove stale lockfiles, this is closed as "invalid" :)

[2018-07-24 15:21] #50 closed, assigned to nobody

[2018-07-27 13:23] futtta opened #52 "copy"
* FAQ: cron & stuff
* add pricing info to "congratulations"-block

[2018-07-29 16:14] #48 closed, assigned to nobody

[2018-07-29 16:14] #49 closed, assigned to nobody

[2018-07-29 16:14] #51 closed, assigned to nobody

[2018-07-29 16:14] #52 closed, assigned to futtta

[2018-07-30 19:38] futtta opened #53 "filter to alter URL submitted to ccss.com"
cfr. Dr Paul;

[code]

[2018-07-30 19:51] denydias commented on #53
Is this really needed? I mean, if a dev is cautious enough to have a stage env (kudos to her!), what is the benefit to trigger a rule in the prod site redirecting the request to stage?

[2018-07-30 20:35] futtta commented on #53
it is; on wpengine the site_url of staging and prod are the same (the prod
one), so AO CCSS was inadvertently telling ccss.com to fetch from the prod
i.s.o. the staging site.

On Mon, Jul 30, 2018 at 9:51 PM, Deny Dias <notifications@github.com> wrote:

[2018-07-30 20:38] denydias commented on #53
Oh! I see! wpengine - as always - being wpengine and providing a confusing service for their users.

[2018-08-05 12:02] futtta opened #54 "inc/core.php: match path with urldecoded $_SERVER['REQUEST_URI']?"
cfr. https://wordpress.org/support/topic/full-css-not-critical-in-body-of-the-html-document/#post-10556934

user had path-based rules with cyrillic characters which did not match, he converted them to urlencoded strings and it did work, so maybe we should  `urldecode($_SERVER['REQUEST_URI'])` in the path-based logic in inc/core.php

makes sense to you @denydias or am I forgetting something here?

[2018-08-07 22:05] denydias commented on #54
Sorry for the late reply, @futtta. Yes, `urldecode()` should be enough for that use case.

[2018-08-12 16:58] futtta commented on #40
so; the upcoming new version will (optionally but not by default) create CCSS per page (as in a page in the WordPress context as opposed to a (blog)post, including for WooCommerce product pages. This will help prevent the CCSS of pageA messing up the styling of pageB (which given pagebuilders can indeed be totally different and would thus require different CCSS instead of reused one).

[2018-08-13 07:05] futtta opened #56 "wordpress quirk: is_front_page not always *really* front-page"
on my little blog (which does not have a static frontpage) is_front_page returns true for the actual homepage, but also for /page/1, /page/2, ...

this is due to a quirk in wordpress core, see https://core.trac.wordpress.org/ticket/6848

[2018-08-13 09:18] futtta commented on #56
fix; https://github.com/futtta/ao_critcss_aas/commit/bd0f45f4dc44fb1f3dbfb59fff5c3b4f4056a7d1

[2018-08-14 09:27] #40 closed, assigned to nobody

[2018-08-14 09:27] #53 closed, assigned to nobody

[2018-08-14 09:27] #54 closed, assigned to nobody

[2018-08-14 09:27] #56 closed, assigned to nobody

[2018-08-15 06:24] futtta opened #57 "review job submission logic"
just a hunch, to be confirmed; if 2 (or more) 'N' jobs are in the queue, both of e.g. is_single and both with the same new hash (so is_single in rules has diff. hash), then both jobs result in a submission to ccss.com?

[2018-08-15 06:48] futtta opened #58 "add debug info to injected ccss"
is debug is on add comment to ccss indicating which rule injected it and what ccss-file was used, e.g.
`
/* types|is_single, ccss_2298jqql87.css */`

[2018-08-15 06:49] futtta opened #59 "easy way to purge entire queue (or all rules)?"

[2018-08-15 14:12] futtta opened #60 "CCSS.com api change"
adding info in the GET response that a request to the origin site 404'ed, specs still under discussion with @pocketjoso ;-)

[2018-08-15 15:11] futtta commented on #60
specs;

resultStatus will no longer be 'GOOD' in case of 404s. Instead it will be 'HTML_404', which is new. The critical css will still be attached. You can chose whether to treat this as an error (discarding the result), or use it. The UI for Criticalcss.com will continue to present the critical css for download in this case, but is going to start showing a warning, informing that it was a 404.

[2018-08-16 16:44] futtta opened #61 "rules panel UI improvements?"
* make path vs types collapsable?
* make rules sortable (separately path vs types)?
* a search (esp. handy for AUTO generated path-based rules?

[2018-08-17 08:04] denydias commented on #57
Yes. If the new N jobs were placed into the queue at the same cron interval, the queue logic will fire requests for both.

[2018-08-17 08:06] denydias commented on #59
Uninstall/reinstall does exactly this, no?

[2018-08-17 08:09] denydias commented on #61
What you mean by paths vs types?

A JS search is going to feeze the UI in huge sites. Default CTRL+F behavior is more than enough for a good string search, no?

[2018-08-17 08:23] pocketjoso commented on #61
As long as you're not nesting your iterations over data, this is not true. (it would be very fast, to perform the search itself. Then you have to update the UI, but I presume this would be OK too. If it's too slow to do on ~keydown, it can just be done on the press of a button instead.)

[2018-08-17 08:37] futtta commented on #59
correct if we want to purge rules & queue in one go :-)

[2018-08-17 08:37] futtta commented on #57
thanks for confirming, saves me some time :-)

On Fri, Aug 17, 2018 at 10:04 AM, Deny Dias <notifications@github.com>
wrote:

[2018-08-17 11:17] futtta commented on #57
tested and looks OK, does https://github.com/futtta/ao_critcss_aas/commit/6c0ac3b004b447a3d6ab393b1009d05c3c1dfe08 indeed make sense to you @denydias ?

[2018-08-17 11:48] futtta commented on #57
@pocketjoso; this is active on blog.futtta.be, you should start seeing less requests for that domain.

[2018-08-17 16:43] futtta commented on #34
job queue is now hidden when there is one (or more) AUTO rules, see https://github.com/futtta/ao_critcss_aas/commit/8fe7c9844be0f8fd86902b23b52a1f6396ff3d40

[2018-08-17 16:45] futtta commented on #61
added some classes to be able to target all PATHS or TYPES rules with CSS (or jQuery), see https://github.com/futtta/ao_critcss_aas/commit/ac0af8a5f614b3d16bcffcf20a1ae2c0aa41b793 but no UI changes at this point.

[2018-08-17 16:46] futtta commented on #59
given https://github.com/futtta/ao_critcss_aas/issues/34 this is less important, putting in the fridge for now.

[2018-08-17 19:19] denydias commented on #57
@futtta, yes, it does. Just remove that `global $ao_ccss_queue;` from step 3 to avoid loading the queue object twice and you're done.

[2018-08-17 19:31] futtta commented on #57
errr ... but ao_ccss_diff_hashes() does not have access to $ao_ccss_queue
yet (same as for $ao_ccss_rules; a couple of lines lower)?

On Fri, Aug 17, 2018 at 9:19 PM, Deny Dias <notifications@github.com> wrote:

[2018-08-17 19:59] denydias commented on #57
Oh! My bad! I've read `$ao_ccss_queue` twice (after steps 2 and 3 comments). Never mind. :stuck_out_tongue_closed_eyes:

[2018-08-18 09:20] futtta opened #62 "make notices dismissable"
e.g. the "WP_DISABLE_CRON" warning remains on screen forever and ever, it should be(come) dismissable.

[2018-08-18 09:34] futtta commented on #62
using this maybe; https://github.com/collizo4sky/persist-admin-notices-dismissal

[2018-08-18 10:08] denydias commented on #62
May I suggest a solution with no 3rd party stuff?

https://wordpress.stackexchange.com/a/251191

[2018-08-19 08:12] futtta opened #63 "can we avoid jquery ui css bleed from other plugins?"
e.g. mainwp loads CSS on every admin-page that alters the jquery ui css we use, there are others

[2018-08-20 11:52] #57 closed, assigned to nobody

[2018-08-20 11:52] #58 closed, assigned to nobody

[2018-08-20 11:52] #60 closed, assigned to nobody

[2018-09-01 14:55] futtta commented on #62
after review & tests I already integrated https://github.com/collizo4sky/persist-admin-notices-dismissal in AO proper, will go for that one here as well (as AO CCSS ultimately will be integrated in AO).

[2018-09-03 13:31] futtta commented on #34
I'm reconsider auto-purging old(er) N jobs as I saw a user with 1111 jobs, some of which were 5 days old already even though, given the fact he does have AUTO rules, cron is working.

Even if the jobs-panel is hidden and psychological impact is somewhat mitigated, having that amount of N jobs means that the plugin is constantly "running behind the facts" and that the hash stored in the job might a

[2018-09-07 20:44] futtta opened #64 "differenciate API key check fail between "bad key" and "other error""
currently if a user somehow blocks outgoing requests, we still show the "wrong api key" error. it would be better to show a "could not check" or "there seems to be a problem" error instead to be able to differentiate between the two.

[2018-09-08 06:21] denydias commented on #64
The 'other error' may be triggered by a curl timeout. It's possible to differentiate it from a 'bad key', but it's not possible to discover what caused the timeout itself to provide a better message. Is that ok?

[2018-09-08 06:39] futtta commented on #64
it is :)

On Sat, Sep 8, 2018 at 8:21 AM, Deny Dias <notifications@github.com> wrote:

[2018-09-08 11:51] futtta opened #65 "add rule conditional dropdown showing empty strings for edd"
fixed in https://github.com/futtta/ao_critcss_aas/commit/6251b58a879f00e1dc19652b0fe3aa378f9e84f9

[2018-09-08 19:30] futtta opened #66 "Argument #2 is not an array /wp-content/plugins/autoptimize-criticalcss/inc/core.php: 243"
any idea regarding https://wordpress.org/support/topic/array_merge-argument-2-is-not-an-array-6/ @denydias

[2018-09-08 19:51] denydias commented on #66
:fearful:

It looks like something at EDD (or a fake one) is wiping our changing type of `$ao_ccss_types`. This is the only possibility to this warning shows up.

Ask the user to manually add `var_dump($ao_ccss_types);` [just after this line](https://github.com/futtta/ao_critcss_aas/blob/master/inc/core.php#L243) and send you the result back.

[2018-09-08 20:26] futtta commented on #66
I was wondering; why not move [the entire block of core condtionals](https://github.com/futtta/ao_critcss_aas/blob/master/inc/core.php#L19-L36) into [the ao_cccss_extend_types()](https://github.com/futtta/ao_critcss_aas/blob/master/inc/core.php#L142) function, only leaving the intiial declaration (`$ao_ccss_type=array()`) in the main part of the code (which is not hooked into a specific wordpress

[2018-09-09 11:44] futtta opened #67 "import/ export misc improvements"
misc. improvements;
* make clear export is to be downloaded from AO_CCSS_DIR (or even better enforce download after successful export?)
* also export CCSS-files (add them in subdir in ZIP-file)
* make clear import should be a zip-file that has to contain a file called settings.json
* import CCSS-files from zip-file (see above)
* some error handling/ messaging on import error

[2018-09-09 12:06] futtta opened #68 "fetch autoptimize services status file"
1. daily cronjob to fetch https://misc.optimizingmatters.com/api/autoptimize_service_availablity.json and store as option (cfr. [commit for AO]( https://github.com/futtta/autoptimize/commit/a1a6dc8c2772ba2fdb81b892f16cfa4735b07c65))
2. act on data from option:
2.1 up vs down
2.2 (optionally) use hostname

[2018-09-09 12:55] futtta commented on #68
cfr. https://github.com/futtta/ao_critcss_aas/commit/00744ffbc41e5060c1079c952fef145452212578

[2018-09-09 12:55] futtta commented on #68
hostname not used yet.

[2018-09-09 18:58] denydias commented on #66
This (move $ao_ccss_types  first declaration to ao_cccss_extend_types()) could be done, but it will not affect this so called 'bug'. Unless a third party is doing something nasty to $ao_ccss_types, it can't be empty nor anything not array.

That being said, I see two drawbacks of doing that:

1. $ao_ccss_types is a global used almost anywhere in the plugin scope.
2. The code will depend on  ao_ccc

[2018-09-09 20:34] futtta commented on #68
additional  commit; https://github.com/futtta/ao_critcss_aas/commit/e2cfa8b49ec3125877a6d3e36f872a8bfd7fbc4d (still not using hostname)

[2018-09-09 20:35] futtta commented on #66
thanks for your helpful feedback Deny! :)

[2018-09-11 21:24] danieliser commented on #66
EDD was most definitely active with a few extensions. The funny part is it only happens once a day at a specific time, so I'm thinking a cron job running that isn't causing the second value you need to be set.

Need to change logging settings as logs didn't contain request data, but I'm 100% positive it has to be CRON related.

[2018-09-12 04:09] futtta commented on #66
Thanks for following up Daniel! If you have an exact timestamp, you could
use crontrol to see what runs at that time?

On Tue, Sep 11, 2018 at 11:24 PM, Daniel Iser <notifications@github.com>
wrote:

[2018-09-12 05:49] danieliser commented on #66
That error I first reported isn't alone it appears it is accompanied every time with the following.

`[10-Sep-2018 09:02:15 UTC] PHP Warning:  array_unshift() expects parameter 1 to be array, null given in wp-content/plugins/autoptimize-criticalcss/inc/core.php on line 157

[10-Sep-2018 09:02:15 UTC] PHP Warning:  array_unshift() expects parameter 1 to be array, null given in wp-content/plugins/au

[2018-09-12 06:28] futtta commented on #62
see commit https://github.com/futtta/ao_critcss_aas/commit/7fe4a90c3f616e4268937e1b811ce3f068604972 (and the next one for the external files)

[2018-09-12 06:31] futtta commented on #66
Different error, Identical problem; global $ao_ccss_types _should_ be a non-empty array (as per L21-36) but is not.

[2018-09-12 06:47] denydias commented on #66
The warnings from @danieliser brings some light. It looks like $ao_ccss_types comes empty from the global call in ao_ccss_extend_types(). My guess ATM: the other day you was fiddling with ao_ccss_frontend() and its priorities. It \*could\* be related...

[2018-09-12 06:54] futtta commented on #66
what change are you referring to  @denydias ?

[2018-09-12 07:06] denydias commented on #66
Oh! That's a \*very\* good question! Your commits lacks issues references... :stuck_out_tongue_closed_eyes:

I'll try to find it here though.

[2018-09-12 07:15] denydias commented on #66
Maybe this?

https://github.com/futtta/ao_critcss_aas/commit/54daca9f4145590c99ef5250bccc6e8e78a2be5b

[2018-09-12 07:21] futtta commented on #66
but why would it, it does not change $ao_ccss_types as [array_flip](http://php.net/array_flip) does not change the original array?

[2018-09-12 07:32] denydias commented on #66
I'm not saying that flip is the culprit. What I meant is that $ao_ccss_types, being the global it is and under \*edgy cases\* (@danieliser stated in WP's support forum that it's happening *'maybe once or twice a day'*), could get empty for a reason we still don't have a clue.

This one looks a hard catch. Maybe you should accept the clone offer to put it under a heavy load plus some sort of kill s

[2018-09-12 07:42] futtta commented on #66
What if we move the initial array creation into a function which is called
from global context and also from within ao_ccss_extend_types() if
$ao_ccss_types is empty or not an array?

On Wed, Sep 12, 2018 at 9:32 AM, Deny Dias <notifications@github.com> wrote:

[2018-09-12 07:48] denydias commented on #66
Looks like a workaround, not a fix for the source issue. To properly fix it, we should be able to reproduce and understand what is causing it in the first place (specially because it could also affect other environments). Anything else is a hack.

[2018-09-12 07:53] futtta commented on #66
let's see if @danieliser can narrow this down some more, if not we'll go
with the workaround (I love my hacks ;-) )

On Wed, Sep 12, 2018 at 9:48 AM, Deny Dias <notifications@github.com> wrote:

[2018-09-12 07:56] denydias commented on #66
I know, the same amount I hate 'em! :P

[2018-09-12 08:00] futtta commented on #66
that's why we're a good team :-)

On Wed, Sep 12, 2018 at 9:56 AM, Deny Dias <notifications@github.com> wrote:

[2018-09-13 05:25] futtta commented on #66
@danieliser
* so this is happening at the same time every day (night), right?
* assuming your wordpress is set to Florida time that would be UTC-4, so do you have anything running at 5h02 pm local time?

[2018-09-15 10:00] futtta opened #69 "URL submitted to ccss.com wrong in case of subfolder-install"
`url.tld/blog/xyz` becomes `url.tld/blog/blog/xyz` which is wrong obviously.

[2018-09-15 11:39] futtta commented on #66
pinging @danieliser :-)

[2018-09-16 20:45] danieliser commented on #66
Not that I'm seeing. Though if the process ran for 2-3 minutes before erroring then it could be +- a few

I can try running them all manually and see when the error comes up (or if it does).

`ao_ccss_queue | None | ao_ccss_queue_control() | 2018-09-16 16:47:46 (4 minutes 10 seconds) | Autoptimize CriticalCSS.com Power-Up Queue | Edit \| Run Now \| Delete
-- | -- | -- | -- | -- | --
w3_pgcache_pri

[2018-09-16 21:02] danieliser commented on #66
Hmm, just ran them all manually and no new errors. For some reason no request url info in the log either, gonna tweak logging settings and see if that gives more info. Gonna try adding stacktrace to logs.

[2018-09-16 21:09] danieliser commented on #66
Got it from the access logs, definitely related to this plugin, something in the automated scans somehow. Here are the access logs from yesterday the few minutes leading up to the error time.

    111.118.159.144 - - [16/Sep/2018:04:58:32 +0000] "GET / HTTP/1.0" 301 642 "-" "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36"
    138.68.1

[2018-09-17 18:03] futtta commented on #69
waiting on feedback from @pocketjoso :-p

[2018-09-20 16:27] futtta commented on #66
thanks for the detailed feedback @danieliser
4 out of 6 are actually requests from criticalcss.com and are doubles (which is weird). assuming `142.93.54.158` is the IP of your own server, I indeed think a cron job is the culprit here, but if you ran each one this remains a big mystery, hence the workaround implemented in [the relevant commit](https://github.com/futtta/ao_critcss_aas/commit/a288e4d

[2018-09-21 04:27] danieliser commented on #66
@futtta Glad you got a workaround, that said crons were logged in the access logs as well, but a few minutes before & after the timestamp of the issue.

[2018-09-21 13:13] #34 closed, assigned to nobody

[2018-09-21 13:13] #62 closed, assigned to nobody

[2018-09-21 13:13] #64 closed, assigned to nobody

[2018-09-21 13:13] #65 closed, assigned to nobody

[2018-09-21 13:13] #66 closed, assigned to nobody

[2018-09-21 13:13] #68 closed, assigned to nobody

[2018-09-21 13:13] #69 closed, assigned to nobody

[2018-10-22 11:54] futtta opened #70 "support for logged on CCSS extraction?"

[2018-10-22 15:51] denydias commented on #70
Have you really created a label called '_fridge_'? LOL! :stuck_out_tongue_closed_eyes:

[2018-10-22 16:16] pocketjoso commented on #70
Great name! :) I was going to comment saying as I said in our email that this is really not priority for me, and I don't want to have users think this is important either. Then I saw the label and thought - that says it all! :D

[2018-11-05 13:07] futtta opened #71 "admin UI: expand panes when clicking on label too"

[2018-11-05 22:33] futtta opened #72 "slashes being stripped from fontawecome css"

[2018-11-05 22:34] futtta opened #73 "when API key validation fails, it can never revalidate without user interaction"

[2018-11-05 22:35] futtta opened #74 "update "persist admin notice dismissal" framework component"

[2018-11-05 22:36] futtta opened #75 "path-based rules are the new default for is_page's"

[2018-11-05 22:37] #72 closed, assigned to nobody

[2018-11-05 22:37] #73 closed, assigned to nobody

[2018-11-05 22:37] #74 closed, assigned to nobody

[2018-11-05 22:37] #75 closed, assigned to nobody

[2018-11-05 22:39] futtta commented on #74
cfr. commit https://github.com/futtta/ao_critcss_aas/commit/56d5642869fd6f2392d8e8ee86b670dd7ed22f9d

[2018-11-05 22:40] futtta commented on #72
see https://github.com/futtta/ao_critcss_aas/commit/01abce1fb50b4e877ea566b5772ce64050e5e35d

[2018-11-05 22:40] futtta commented on #73
commit https://github.com/futtta/ao_critcss_aas/commit/7b0538576d0aeb079f05b2d5446a54748c922fcc

[2018-11-05 22:41] futtta commented on #75
commit https://github.com/futtta/ao_critcss_aas/commit/6a3785b5eaab41aa4783d2b66846ae651f311144

[2018-11-29 22:53] pocketjoso opened #76 "Help users to correct usage of force include"
Hi guys,

This relates to the [force include feature](https://github.com/futtta/ao_critcss_aas/issues/17).

I am now getting some errors on my end that comes from from plugin users dumping large full css into the forceInclude field, instead of the (relatively short) comma separated css selectors (string or regex) that are expected.

In the plugin, I think it could help if:
- the UI label said `For

[2018-12-07 17:47] futtta opened #77 "keep API key even if deactivated"

[2018-12-08 17:26] futtta opened #78 "extra error logging if key check fails"
cfr. https://github.com/futtta/ao_critcss_aas/commit/fe6b97aaa4fb70552494592678fbb54338ebd7ec where we now also log info from the wp_error object if it is there (allowing us to have low-level cURL errors logged e.g. in case of HTTPS negotiations failures)

[2018-12-09 09:46] #76 closed, assigned to nobody

[2018-12-09 09:46] #77 closed, assigned to nobody

[2018-12-09 09:46] #78 closed, assigned to nobody

[2018-12-12 21:24] futtta opened #79 "check if cronjob exists"
re. Adam's issue where for unknown reason the queue processing job would disappear

[2018-12-14 07:16] futtta opened #80 "ccss with content="" breaks something?"

[2018-12-14 07:19] futtta opened #81 "add option to try to fix render-blocking JS"
* under "advanced"
* default "off" for now
* see https://gist.github.com/futtta/01ba20efa0893edb52b0a233a5c05ae8

[2018-12-14 09:17] pocketjoso commented on #80
Let me know if you find that this comes from criticalcss.com or the plugin itself. I will take a look this weekend.

[2018-12-14 14:45] futtta commented on #80
as reported by @barisunver by the way.

Baris, this happens for the "default CSS", right? have you seen this happen for AUTO-created rules as well, or not?

[2018-12-14 14:56] futtta commented on #80
Testing, not reproduced (yet);
![image](https://user-images.githubusercontent.com/181297/50010139-ecfeff80-ffb8-11e8-850d-2b54515638d1.png)

[2018-12-14 22:10] barisunver commented on #80
@futtta yeah, I saw it in the default CCSS textarea (in different sites). I'll keep looking for more instances of the issue. In the meantime, have you checked all your sanitization functions?

[2018-12-15 10:16] futtta commented on #80
well, that's just it; there is no sanitization for default CCSS @barisunver

[2018-12-15 11:16] barisunver commented on #80
@futtta wait, so if someone were to put some JavaScript or PHP in that box...?

[2018-12-15 11:18] futtta commented on #80
indeed, same for AO's "inline & defer CSS" actually. there is some (very
simple) checks for "manual" rules though.

On Sat, Dec 15, 2018 at 12:16 PM Barış Ünver <notifications@github.com>
wrote:

[2018-12-15 14:00] futtta commented on #79
test first, release 2nd, close 3rd

[2018-12-18 04:10] denydias commented on #81
@futtta, just a question: is this the right place for this? ao_critcss_aas is about handling critical path css automation in a 3rd party service. This feature opens a window so ao_critcss_aas becomes a whole optimization thing by itself, which in turns competes with autoptimize features, no?

[2018-12-18 06:59] futtta commented on #81
well, you're kind of right, but

* AO CCSS users don't always see time to (meaningful) render going down
because jQuery remains render blocking, in some cases leading to them
stopping using AO CCSS
* this is an experiment which I did not want to put in AO proper
* I can iterate faster in AO CCSS
* AO CCSS will become part of AO one day so it's not about competing :)

On Tue, Dec 18, 2018 at 5:10 A

[2018-12-25 07:08] #79 closed, assigned to nobody

[2018-12-25 07:08] #81 closed, assigned to nobody

[2018-12-25 07:09] futtta opened #82 "copy for "force path-based rules" is out of date"

[2018-12-25 07:14] futtta commented on #82
re-open until release

[2018-12-25 17:36] futtta commented on #80
great feedback from @barisunver ;

[2018-12-25 17:38] futtta commented on #80
This fixes it for me, could you re-test with this fix/ commit @barisunver ?

[2018-12-26 00:17] barisunver commented on #80
@futtta looks fine to me :)

[2019-01-06 13:38] futtta opened #83 "stop cloned sites from sending requests to criticalcss.com"
we've had several customer who work with site cloning to move from staging to production or vice versa who had no idea the plugin would inherit all AO CCSS settings and would start making requests to criticalcss.com which is priced per domain, so add logic to prevent this by default.

[2019-01-06 13:39] futtta commented on #83
see https://github.com/futtta/ao_critcss_aas/commit/834a8edad63e8cc1507f17a23a989206245c8123

[2019-01-06 13:41] futtta opened #84 "make sure is_front_page never gets served by other rules"
given how unique (and sensitive) front pages are, they should _never_ be served CCSS from other rules to avoid very visible nasty issues.

[2019-01-07 21:44] #80 closed, assigned to nobody

[2019-01-07 21:44] #82 closed, assigned to nobody

[2019-01-07 21:44] #83 closed, assigned to nobody

[2019-01-07 21:44] #84 closed, assigned to nobody

[2019-01-18 07:21] futtta opened #85 "better 1st time use experience"
and similarly from a user (who first cancelled but re-tried and now is happy);

[2019-01-18 07:41] futtta commented on #85
maybe also check if page cache is active and display notification if so?

[2019-01-18 08:50] futtta opened #86 "check & fix "retry" button on errorerd jobs"
cfr. Andrea's message;

[2019-02-06 13:33] futtta opened #87 "set request limit to 5 by default?"

[2019-02-06 13:53] futtta opened #88 "ccss file seems not to get saved?"
Just extra error logging to be able to better troubleshoot.

[2019-02-06 16:35] pocketjoso commented on #87
What would be the benefit here, over the current request limit (which is 2)?

[2019-02-06 17:42] futtta commented on #87
no, by default there is no request limit, which could see (and does see in
some cases) the queue processing job killed (with the queue lock remaining,
blocking queue processing until the lock is forcefully removed by the
twice-daily cleanup job).

On Wed, Feb 6, 2019 at 5:35 PM Jonas Ohlsson Aden <notifications@github.com>
wrote:

[2019-02-07 08:53] pocketjoso commented on #87
Ah see. The Criticalcss.com API enforces a limit of max two concurrect generate requests per domain, I confused this with what you're talking about here. Okay then. :)

[2019-02-07 13:42] futtta opened #89 "make domain binding ignore http vs https"

[2019-02-10 17:26] futtta opened #90 "improve FAQ to give more info on how to fix render-blocking issues outside of AO CCSS"

[2019-02-20 16:38] willstocks opened #91 "[Question] AO_CCSS + page caching"
Hey Frank,
Hope you're well!
Question for you - If I use a caching plugin (such as W3TC), and it has a page cached, and a user visits another of my pages which results in a slight tweak to the CCSS, does AO clear the page cache to ensure that the new CCSS is applied/being used, or are you reliant on manual page cache clearing to ensure correct version of CCSS is being used?

**Apologies if this is

[2019-02-20 17:38] futtta commented on #91
AO-CCS does not do page cache clearing, so we indeed depend on the page
cache being cleared manually (or expiring) Will.

On Wed, Feb 20, 2019 at 5:38 PM willstocks-tech <notifications@github.com>
wrote:

[2019-02-20 17:41] willstocks commented on #91
Thanks for confirming Frank! Thought it was worth asking as I noticed that
my pages were doing a weird glitchy thing. I logged in and happened to
clear my page cache (not AO/CCSS) and it stopped immediately. I then had a
quick retro look at things and noticed that the old page cache (which I
hadn’t refreshed FTP) was dated before the latest CCSS. It looks like
_possibly_ the page cache has now pic

[2019-02-21 09:57] #91 closed, assigned to nobody

[2019-02-21 16:11] #85 closed, assigned to nobody

[2019-02-21 16:11] #86 closed, assigned to nobody

[2019-02-21 16:11] #87 closed, assigned to nobody

[2019-02-21 16:11] #88 closed, assigned to nobody

[2019-02-21 16:11] #89 closed, assigned to nobody

[2019-02-21 16:11] #90 closed, assigned to nobody

[2019-03-14 09:10] futtta opened #92 "remove site_url() from manual path rules"
to avoid issues manual path rules should remove the domain (site_url) from the path given by the user (who might not know the difference between a URL and a path)

[2019-03-14 13:06] futtta opened #93 "fix blacklist false positive for shell script injection"
see https://github.com/futtta/ao_critcss_aas/commit/95958109a6e378d8dfca02093dcbf9ceda55740d

[2019-03-16 13:57] futtta opened #94 "(even) better domain binding"
advanced setting showing the bound URL (and allowing it to be changed)? comparing to one of the $_server values?

[2019-03-20 12:45] futtta opened #95 "auto-enable "fetch original" is AO lazyloading is active"
the lazyload stuff in AO seems to cause false R(eview) flags, fetching original CSS (and thus HTML) fixes that.

[2019-03-22 17:44] futtta opened #96 "never overwrite manual rules"
To be checked; when creating a manual rule if the job queue contains a job for the same target, the manual rule would still get overwritten?

[2019-03-27 13:13] futtta opened #97 "review API key request non-happy path"
when to stop using existing rules?

[2019-03-27 13:18] pocketjoso commented on #97
From my point of view, it's risky for us to continue using rules when we lose the guarantee that they are up to date.

If we have a case of temporarily losing connection with criticalcss.com for validating the API key, then in this case I think it can be OK to keep using the existing rules.

On the other hand, if the user' membership expires or is cancelled (i.e. validation response from API says

[2019-04-02 05:28] futtta commented on #95
switching to noptirocket

[2019-04-06 16:12] futtta opened #98 "differentiate mobile vs non-mobile?"

[2019-04-07 08:47] pocketjoso commented on #98
For context - this is for sites that use different html for mobile vs desktop. This is not too common, but happens. See f.e. this article (although old):
https://developer.mozilla.org/en-US/docs/Web/Guide/Mobile/Separate_sites

[2019-04-09 07:41] futtta opened #99 "rename queue.log into queue.html or queue.txt to avoid it being blocked"

[2019-04-10 18:47] futtta opened #100 "custom post types with "custom ui"-plugin not found?"

[2019-04-13 14:48] futtta opened #101 "readme -> description adaptation"
premium/ paying service, see FAQ

[2019-04-19 11:23] futtta commented on #92
already the case, see https://github.com/futtta/ao_critcss_aas/blob/master/inc/core.php#L52

[2019-04-19 11:23] #92 closed, assigned to nobody

[2019-04-19 12:46] futtta commented on #97
see https://github.com/futtta/ao_critcss_aas/commit/a8f72bad93316c5d8aaa176c8c0442cff5a1fb8b

[2019-04-19 12:48] futtta commented on #99
see https://github.com/futtta/ao_critcss_aas/commit/29b7d3f80d457d6de108a1209c51dce0834210a8, https://github.com/futtta/ao_critcss_aas/commit/3cb4c9e0d1779422e0b9d6074c8980425cd2d4e6 and https://github.com/futtta/ao_critcss_aas/commit/211d9fb1399da36048617eae48f5a8d4d454b460 (yeah, pandora's box aye?)

[2019-04-19 12:48] futtta commented on #96
see https://github.com/futtta/ao_critcss_aas/commit/6f194bb079bd2f583722c9e3c8decd7aa0b7c873

[2019-04-19 12:49] futtta commented on #95
see https://github.com/futtta/ao_critcss_aas/commit/e1e2c2c791c9b01bdc436498c7a158c0eab5a253

[2019-04-19 12:51] futtta commented on #101
see https://github.com/futtta/ao_critcss_aas/commit/e0ce3c814d6f31272517b07ba6cb922ebded1c95

[2019-04-19 12:52] futtta commented on #94
as per @pocketjoso there will be a whitelist at CCSS.com, which we'll be able to retrieve, waiting on specs.

[2019-04-20 06:19] #93 closed, assigned to nobody

[2019-04-20 06:19] #95 closed, assigned to nobody

[2019-04-20 06:19] #96 closed, assigned to nobody

[2019-04-20 06:19] #97 closed, assigned to nobody

[2019-04-20 06:19] #99 closed, assigned to nobody

[2019-04-20 06:19] #101 closed, assigned to nobody

[2019-04-21 16:27] futtta opened #102 "differentiate non-logged vs logged on users?"

[2019-04-21 16:30] futtta commented on #102
@pocketjoso

-> this would require either the user providing the cookie value (most would have no idea) OR for AOCCSS to fetch that cookie itself somehow (i.e. get or create a session for a logged on user and extract the cookie somehow), this will not be simple
-> additionally typically in wordpress different roles (and different users) might see different things, so even between logged in users t

[2019-04-25 08:48] willstocks opened #103 "[Question] Removing CCSS from CSS"
This one might be a bit out there (or may have been asked before - I couldn't find anything) - would it be possible to remove the styles injected CCSS styles from the original CSS file sent down to the user (in my case, an AO CSS file).

The only reason I ask this, is at the moment let's say.... 30% of your CSS is found to be "critical", that 30% is then redownloaded again later on to be applied,

[2019-04-25 10:37] pocketjoso commented on #103
Hi, the reason you don't want to extract the critical css from the full css is that this would produce a unique full css file for each page. This would actually lead to a lot more data wasted, and slower loading of the full css, since it would no longer be possible to benefit from cached full stylesheets.

[2019-04-26 06:44] futtta commented on #103
What Jonas said plus it would require complex CSS parsing which I would like to avoid at all cost ;-)

[2019-04-26 06:44] #103 closed, assigned to nobody

[2019-04-30 10:00] futtta opened #104 "keep MANUAL rules when disabling plugin?"
as suggested by @barisunver :-)

[2019-05-05 18:15] futtta opened #105 "explain forceInclude changes require rules to be deleted"

[2019-05-08 18:37] futtta opened #106 "defer jquery acting on ld/json"
see https://wordpress.org/support/topic/autoptimize-and-json-ld-syntax-error/#post-11510457

[2019-05-09 06:26] #106 closed, assigned to nobody

[2019-05-31 19:35] futtta opened #107 "extra checks on URL's sent to criticalcss.com"
2019-05-22T04:08:02 critical css request for url http://xyz.abcwww.baidu.com:443?ao_noptimize=1
2019-05-24T19:28:17 critical css request for url http://xyz.abcwww.voanews.com:443?ao_noptimize=1

[2019-07-03 16:06] futtta opened #108 "PHP notices"
see https://wordpress.org/support/topic/divi-log-reporting-errors/

[2019-07-09 07:36] futtta opened #109 "some supposedly default settings don't apply on new installs?"
page->path, request limit, ...

[2019-07-15 09:13] futtta opened #110 "ccss file deleted even if still needed"
Although unlikely is can (and does) happen that the newly written CCSS file and the old one have the same filename, in which case we end up with no CCSS file left and the rule being orphaned.

[2019-07-15 16:41] futtta commented on #107
@pocketjoso is this still happening? because I don't think these requests were issued by the plugin, as the plugin uses a native WordPress function to get the site's own domain. so not sure if there anything I can do here really ..

[2019-07-16 18:58] #94 closed, assigned to nobody

[2019-07-16 18:58] #105 closed, assigned to nobody

[2019-07-16 18:58] #107 closed, assigned to nobody

[2019-07-16 18:58] #108 closed, assigned to nobody

[2019-07-16 18:58] #109 closed, assigned to nobody

[2019-07-16 18:58] #110 closed, assigned to nobody

[2019-07-16 19:26] pocketjoso commented on #107
Did you make a change in this regard in another commit Frank?

[2019-07-16 19:32] futtta commented on #107
no, no change, no idea what to change to be honest.

On Tue, Jul 16, 2019 at 9:26 PM Jonas Ohlsson Aden <notifications@github.com>
wrote:

[2019-07-27 05:19] futtta opened #111 "explicitly set all var to global"
as per the lost JWT token sometimes global variables get lost except is explicitly set to global before being set?

[2019-08-08 09:19] futtta opened #112 "copy improvement: "Critical CSS generation" and not "extraction"."
as asked by Jonas :)

[2019-08-20 17:41] dipiana opened #113 "Add possibility to use different / own critical CSS service"
I absolutely love your plugin(s), such amazing work.
Just came across the critical CSS plugin which I found very interesting.
Unfortunately, the monthly pricing adds up when you want to use it on many pages.

What do you think about adding the option to use a different / open source service to extract critical CSS?

There are some promising libraries on GitHub more advanced users could setup on th

[2019-08-20 18:13] futtta commented on #113
The problem is that AOCCSS is built to integrate with criticalcss's
rest/json-like remote API. Adding support for other CCSS extractors (of
which the first one is by the guy who created criticalcss.com by the way)
would require (a) those libraries to also have a remote API and (b) code
changes to the plugin to handle the specifics of that (those) other remote
API(s). So not very likely (in the sho

[2019-08-20 20:39] dipiana commented on #113
Okay I see - thanks none the less! :-)

[2019-08-21 18:36] #113 closed, assigned to nobody

[2019-09-06 18:41] futtta opened #114 "jquery defer; also when "aggregate inline" is on"
because some inline JS is auto-excluded (e.g. when nonce's are found), so we need to defer even if inline JS is aggregated

[2019-09-11 04:57] futtta opened #115 "jquery defer: not for logged in users if ao ccss is not active for logged in users either?"

[2019-09-11 07:30] futtta opened #116 "add $apireq to debug log for unknown jobs"

[2019-09-11 07:47] futtta opened #117 "GET response interpreted as UNKOWN when validationStatus == SCREENSHOT_WARN_BLANK"
will probably have to be considered `R` but used iso being forgotten as `U`. @pocketjoso agreed?

[2019-09-11 07:48] futtta commented on #116
zap the CSS in the GET response before logging though

[2019-09-11 08:08] pocketjoso commented on #117
`U` meant it was never used, is that correct? Then yes, I think `R` is more appropriate, as we have discussed in other contexts. Even though I would really want everyone in this case to understand and fix the underlying issue, as we've said the truth is that even without doing so they can still get a performance improvement, albeit smaller - so let's give them that.

[2019-09-11 08:10] futtta commented on #117
but what does SCREENSHOT_WARN_BLANK mean; that you weren't able to validate the result? and what would the underlying issue be?

[2019-09-11 08:59] pocketjoso commented on #117
I hear we need documentation on this. :) It means that the site in question does not show any content until JS loads. (the first render with critical css is blank).

[2019-09-11 11:11] futtta commented on #117
OK, so while I'm at it; any other non-default validationStatus'es we should also consider result in R jobs instead of silently but utterly failing?

[2019-09-13 13:31] futtta opened #118 "multisite: AO_CCSS_DIR creation fails"

[2019-09-14 09:34] #67 closed, assigned to nobody

[2019-09-14 09:34] #111 closed, assigned to nobody

[2019-09-14 09:34] #112 closed, assigned to nobody

[2019-09-14 09:34] #114 closed, assigned to nobody

[2019-09-14 09:34] #115 closed, assigned to nobody

[2019-09-14 09:34] #116 closed, assigned to nobody

[2019-09-14 09:34] #117 closed, assigned to nobody

[2019-09-14 09:34] #118 closed, assigned to nobody

[2020-01-01 17:12] futtta opened #120 "if lazyload: ao_nolazy iso ao_noptirocket"
wait a while for 2.6 to reach a bigger market-share (because ao_nolazy is only available in 2.6.x which at this moment is only at 17% vs 2.5 at 61%)

[2020-01-01 17:17] futtta commented on #120
wait a while for 2.6 to reach a bigger market-share (because ao_nolazy is only available in 2.6.x which at this moment is only at 17% vs 2.5 at 61%)